# use /bin/tcsh to run commands, no matter what /etc/passwd says
SHELL=/bin/tcsh

# mail any output to jmiller
MAILTO=jmiller@stsci.edu

# run five minutes after 3 am, every day
5 3 * * *      source $HOME/.setenv;  nightly.crds.job 

# every 5 minutes, no e-mail
*/5 * * * *    source $HOME/.setenv;  cd ${CRDS}/CRDS_server;  source env.csh; monitor_reprocessing >& /dev/null

# every 5 minutes, no e-mail
*/5 * * * *   source $HOME/.setenv;  cd ${CRDS}/CRDS_server;  source env.csh; clear_expired_locks  >& /dev/null

# every 2 hours, no e-mail,  slow to prevent multiple concurrent syncs
0 0-23/2 * * *  source $HOME/.setenv;  cd ${CRDS}/CRDS_server;  source env.csh; sync_ops_to_grp >& /dev/null

# run at 2:15pm on the first of every month
#   15 14 1 * *     $HOME/bin/monthly
# run at 10 pm on weekdays, annoy Joe
#   0 22 * * 1-5   mail -s "It's 10pm" joe%Joe,%%Where are your kids?%
#   23 0-23/2 * * * echo "run 23 minutes after midn, 2am, 4am ..., everyday"
#   5 4 * * sun     echo "run at 5 after 4 every sunday"

