{% extends "base.html" %}

{% block head_additions %}
{% endblock head_additions %}

{% block contents %}

<div id="contents">
	<form action="/bestrefs/input/" method="post""> {% csrf_token %}
		<h2>Get Best References</h2>
		<h3>Instrument Context:</h3>
		<table>
			<tr>
				<td><input type="radio" name="context-mode" value="default" checked>default</td>
			    <td align="right">
			    	<select name="context-default" />
						<option>hst_acs.imap</option>
						<option>hst_cos.imap</option>
						<option>hst_stis.imap</option>
						<option>hst_wfc3.imap</option>
			    	</select>
			    </td>
			</tr>
			<tr>
				<td><input type="radio" name="context-mode" value="user">user specified</td>
			    <td align="right"><input type="text" name="context-user"/></td>
				<td class="hint">i.e. hst_acs.imap</td>
			</tr>
		</table>
		<br/>
		<input type="submit" value="Submit" />
	</form>
</div>

{% endblock contents %}
