{% extends "base.html" %}

{% block head_additions %}
    {% include "fileupload/picture_form_head_additions.html" %}
{% endblock %}

{% block contents %}

    {% block picture_form_prefix %}
    <div class="container">
        <div class="page-header">
            <h1>Django Jquery file upload demo</h1>
        </div>
    </div>
    {% endblock %}

    {% include "fileupload/picture_form_form.html" %}
    
    {% block picture_form_gallery %}
        {% include "fileupload/picture_form_gallery.html" %}
    {% endblock %}
    
    {% include "fileupload/picture_form_scripts.html" %}

    {% block picture_form_footer %}
    {% endblock picture_form_footer %}
    
{% endblock %}
