{% load upload_tags %}

{% upload_js %}

<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script> -->

{% comment %}
<script src="/static/js/jquery.ui.widget.js"></script>
<script src="/static/js/tmpl.min.js"></script>
<script src="/static/js/load-image.min.js"></script>
<script src="/static/js/canvas-to-blob.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/bootstrap-image-gallery.min.js"></script>
<script src="/static/js/jquery.iframe-transport.js"></script>
<script src="/static/js/jquery.fileupload.js"></script>
<script src="/static/js/jquery.fileupload-fp.js"></script>
<script src="/static/js/jquery.fileupload-ui.js"></script>
<script src="/static/js/locale.js"></script>
<script src="/static/js/main.js"></script>
<script src="/static/js/csrf.js"></script>

<script src="/static/js/fileupload_combined.js"></script>

{% endcomment %}
 
<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
<!-- <\!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -\-> -->
<!-- <script src="/static/js/vendor/jquery.ui.widget.js"></script> -->

<!-- The Templates plugin is included to render the upload/download listings -->
<script src="/static/js/tmpl.min.js"></script>

<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
<script src="/static/js/load-image.all.min.js"></script>

<!-- The Canvas to Blob plugin is included for image resizing functionality -->
<script src="/static/js/canvas-to-blob.min.js"></script>

<!-- Bootstrap JS is not required, but included for the responsive demo navigation -->
<!-- <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> -->

<!-- blueimp Gallery script -->
<!-- <script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script> -->
<script src="/static/js/bootstrap-image-gallery.min.js"></script>

<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="/static/js/jquery.iframe-transport.js"></script>

<!-- The basic File Upload plugin -->
<script src="/static/js/jquery.fileupload.js"></script>

<!-- The File Upload processing plugin -->
<script src="/static/js/jquery.fileupload-process.js"></script>

<!-- The File Upload image preview & resize plugin -->
<script src="/static/js/jquery.fileupload-image.js"></script>

<!-- The File Upload audio preview plugin -->
<script src="/static/js/jquery.fileupload-audio.js"></script>

<!-- The File Upload video preview plugin -->
<script src="/static/js/jquery.fileupload-video.js"></script>

<!-- The File Upload validation plugin -->
<script src="/static/js/jquery.fileupload-validate.js"></script>

<!-- The File Upload user interface plugin -->
<script src="/static/js/jquery.fileupload-ui.js"></script>

<!-- The main application script -->
<script src="/static/js/main.js"></script>

<script src="/static/js/csrf.js"></script>

<!-- The XDomainRequest Transport is included for cross-domain file deletion for IE 8 and IE 9 -->
<!--[if (gte IE 8)&(lt IE 10)]>
<script src="/static/js/cors/jquery.xdr-transport.js"></script>
<![endif]-->
