{% load upload_tags %}

{% upload_js %}

<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script> -->

<!--
<script src="/static/js/jquery.ui.widget.js"></script>
<script src="/static/js/tmpl.min.js"></script>
<script src="/static/js/load-image.min.js"></script>
<script src="/static/js/canvas-to-blob.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/bootstrap-image-gallery.min.js"></script>
<script src="/static/js/jquery.iframe-transport.js"></script>
<script src="/static/js/jquery.fileupload.js"></script>
<script src="/static/js/jquery.fileupload-fp.js"></script>
<script src="/static/js/jquery.fileupload-ui.js"></script>
<script src="/static/js/locale.js"></script>
<script src="/static/js/main.js"></script>
<script src="/static/js/csrf.js"></script>
 -->
 
<script src="/static/js/fileupload_combined.js"></script>
