{% extends "base.html" %}

{% block head_overrides %}
    {% include "jpoll/jpoll_head_overrides.html" %}
{% endblock %}

{% block contents_both %}
    <h2 title="Add *existing* references to a version of CRDS rules creating
               new rules.  Does not ingest new files into CRDS and archive."
       >Add Existing References</h2>
    
    <form method="post" action="/add_existing/reference/" enctype="multipart/form-data"
          id="add_existing_references_form" class="jpoll_ajax_html_form"
    	  onsubmit="return crds.validate_and_confirm_add_delete(this);">  {% csrf_token %}

      <div>
        <h3 title="Newline separated list of *existing* CRDS reference file names.">Added Files:</h3>
        <textarea name="added_files" cols="50" rows="4" >{{added_files}}</textarea>
      </div>

      <div>
        <h3 title="Version of CRDS rules to which existing references are added.">Derive From Context:</h3>
        {% include "select_pmap.html" %}
      </div>

       <div>
         <h3 title="Rationale behind this rules change or file merge.">Description:</h3>
         <textarea name="description" id="description" rows="4" cols="50">{{description}}</textarea>   
       </div>

      <br/>
      <input class="btn btn-primary" type="submit" value="Add References" > 

    </form>

    <br/>
    <p><b>NOTE:</b> this does not ingest references into CRDS, it adds existing CRDS references to a set of rules.</p>

{% endblock contents_both %}

{% block help %}
{% endblock help %}
