<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
       <title>Calibration Reference Data System (CRDS)</title>
      <script type="text/javascript" src="/static/jquery.js"></script>
      <link type="text/css" rel="stylesheet" href="/static/style.css" />

      {% block head_additions %} 
      {% endblock %}
  </head>

  <body>
    <noscript>
      <h2>This page requires JavaScript to be enabled.</h2>
    </noscript>

    <div id="page_header">
        <h1>Calibration and Reference Data System (CRDS)</h1>
    </div>

    <div id="header_menu">
       <a href="/static/users_guide/index.html" class="tiny">help</a>
       {% if is_authenticated %}
           <br/>
           <br/>
           <a href="/logout/" class="tiny">logout</a>
       {% else %}
           <a href="/login/?next={% firstof request.path '/' %}" class="tiny">login</a>          
       {% endif %}
    </div>
    
    <div id="contents">
    {% block contents %} 
        <div class="column1">
        {% block column1 %}
        {% endblock %}
        </div>
        <div class="column2">
        {% block column2 %}
            <div class="help">
                <p>
                {% block help %}
                {% endblock help %}
                </p>
            </div>
            <div class="error">
                {{error_message}}
            </div>
        {% endblock %}
        </div>
    {% endblock %}
    </div>   
  </body>
</html>
