{% extends "base.html" %}

{% block column1 %}
    <script type="text/javascript">
    function validate_and_confirm(form) {
        console.log("Validating batch reference form submission.");
        if (!crds.validate_select_pmap()) {
            return false;
        }
        if ($("#description").val() == "") {
            alert("Did you add a description?");
            return false;
        }
        if ($("#creator").val() == "") {
            alert("Did you add a creator?");
            return false;
        }
        return true;
    }
    </script>

    <h2>Batch Submit Reference</h2>
    <form method="post" action="/batch_submit_reference/" enctype="multipart/form-data"
    	  onsubmit="return validate_and_confirm(this);">  {% csrf_token %}

      {% include "select_files.html" %} 
                     
      <h3>Old Context to Derive From</h3>
      {% include "select_pmap.html" %}
        
        <h3>Change Level:
        <select name='change_level' value="{{change_level}}">
            <option>SEVERE</option>
            <option>MEDIUM</option>
            <option>TRIVIAL</option>
        </select>
        </h3>

        <h3>Creator:
        <input type='text' name='creator' id='creator' size="40" value="{{creator}}">
        </h3>

      <h3>Description</h3>
        <p>
            <textarea name="description" id="description" rows="4" cols="50">{{description}}</textarea>   
        </p>

      <h3>Auto-Rename:  {% include "auto_rename_input.html" %}  </h3>

      <br/>
      <input type="submit" value="Submit References" >
    </form>
{% endblock column1 %}

{% block help %}

<p><b>Batch Submit References</b> supports uploading a list of reference
files for a single instrument and reference type,  i.e. one rmap.  After checking and 
storing the reference files,   new CRDS mapping files which refer to them
are generated.

<p><p><b>Old Context to Derive From</b> The name of the pipeline context which 
will be recursively updated to insert the new reference files.

<p><p><b>Change Level</b> The degree to which the new files are expected to 
impact science results.

<p><p><b>Description</b> information about what's new in this file and what
the expected impacts are.

<p><p><b>Creator</b> author of the contents or changes to the file,  not 
necessarily the submitter.   The submitter is known based on login information.

<p><p><b>Submitted References</b> <i>Uploaded Files</i> lets you upload a list of new 
references to CRDS.  Each reference file must certify or the entire batch will be rejected.  
If you are a member of group crdsoper,  you can make your own subdirectory in 
/grp/crds/{{observatory}}/ingest and copy your submitted files there,  then refresh this
page and select <i>Server Directory</i> and the directory you created from the drop-down menu.

{% include "auto_rename_help.html" %}

{% endblock help %}
