{% extends "base.html" %}

{% block column1 %}
    <h2>Batch Submit Reference</h2>
    <form method="post" action="/batch_submit_reference/" enctype="multipart/form-data"> 
      {% csrf_token %}
 
 
      <h3>Old Context to Derive From</h3>
        {% include "select_pmap.html" %}
        
      <h3>New Rmap Description</h3>
        <p>
            <textarea name="description" id="description" rows="4" cols="50"></textarea>   
        </p>

      <h3>Uploaded Files:</h3>
        <input type="file" class="multi" name="file_uploaded" />
      <br/>
      <br/>
      <input type="submit" value="Submit References">
    </form>
{% endblock column1 %}

{% block help %}

<p><b>Batch Submit References</b> supports uploading/adding a list of reference
files to a single reference mapping,  e.g. ACS darkfile.   After checking and 
storing the reference files,   BSR updates the specified or implied reference 
mapping, and generates a new pipeline and instrument context which use it.

<p><p><b>Uploaded Files</b> lets you upload references to CRDS.   Each reference
file must certify or the entire batch will be rejected.

{% endblock help %}
