{% extends "base.html" %}

{% block head_additions %}
    {% include "fileupload/picture_form_head_additions2.html" %}
{% endblock %}

{% block head_overrides %}
    {% include "jpoll/jpoll_head_overrides.html" %}
{% endblock %}

{% block contents_both %}
    <h2 title="Submit new reference files and automatically create new CRDS rules.">Batch Submit Reference </h2>

    {% include "select_files.html" %}        

    <form method="post" action="/batch_submit_references/" enctype="multipart/form-data"
          id="batch_submit_form" class="jpoll_ajax_html_form"
    	  onsubmit="return crds.validate_and_confirm_file_submit(this);">  {% csrf_token %}

      <div>
              <h3 title="Context new references will be added to generating new rules.">Derive From Context:</h3>
      {% include "select_pmap.html" %}
      </div>
       <br/>
        
        <div>
               <h3 style="display: inline;" title="Degree that new files are expected to impact science results.">Change Level: </h3>
               <select name='change_level' value="{{change_level}}">
                <option>SEVERE</option>
                <option>MODERATE</option>
                <option>TRIVIAL</option>
            </select>
        </div>

        <br/>
        <div> 
               <h3 style="display: inline;" title="Author of new reference files, generally not the submitter.">Creator: </h3>
               <input type='text' name='creator' id='creator' size="40" value="{{creator}}">
        </div>

      <div>
           <h3 title="Information about file changes and expected impacts, include instrument and type.">Description:</h3> 
           <textarea name="description" id="description" rows="4" cols="50">{{description}}</textarea>   
      </div>

      <br/>
      <br/>
      <div>
        <h3 style="display: inline;" title="When checked, automatically rename the submitted files with CRDS generated names.">Auto-Rename: </h3> {% include "auto_rename_input.html" %}
      </div>
      <br/> <br/>

      <div>
        <h3 style="display: inline;" title="When checked, compare new table references to prior versions.">Compare Old Reference:</h3> 
        <input type="checkbox" name="compare_old_reference" value="checked" {{compare_old_reference}} />
      </div>

      <br/>
      <br/>
      <input class="btn btn-primary" type="submit" value="Submit References" >
    </form>

{% endblock contents_both %}

{% block help %}
{% endblock help %}
