{% extends "base.html" %}

{% block head_additions %}
{% endblock head_additions %}

{% block column1 %}
    <h2>Explore Best References <span class="value">({{mapping.filename}} : {{instrument}})</span></h2>
    <form method="post" action="/bestrefs_explore_compute/"> {% csrf_token %}
      <input type="hidden" name="context" value="{{mapping.filename}}" />
      <input type="hidden" name="instrument" value="{{instrument}}" />
      <h3>Enter Dataset Parameters</h3>
      <table width="100%">

      {# repeated for-loop with "CORR in" and "CORR not in:" #}
      
      {% for key, choices in valid_values %}
        {% if "CORR" not in key %}
        <tr>
          <td width="25%" class="label">{{key}}:</td>
          <td width="25%">
            {% if choices %}
                <select name="{{key}}">
                    {% for opt in choices %}
                      <option>{{opt}}</option>
                    {% endfor %} 
                </select>
            {% else %}
                <input type='text' name='{{key}}' value="*" />
            {% endif %}
          </td>
        </tr>
        {% endif %}
      {% endfor %}

      <tr><td> </td></tr>
      <tr><td> </td></tr>

      <tr>
        <td width="25%" class="label">DATE-OBS:</td>
        <td width="60%"><input type="text" name="DATE-OBS" value="{{dateobs}}" /> <span class="hint">e.g. 2011-01-01</span> <td/>
      </tr>
      <tr>
        <td width="25%" class="label">TIME-OBS:</td>
        <td width="60%"><input type="text" name="TIME-OBS" value="{{timeobs}}"/> <span class="hint">e.g. 12:00:00</span> </td>
      </tr>
      
      <tr><td> </td></tr>
      <tr><td> </td></tr>

      {% for key, choices in valid_values %}
        {% if "CORR" in key %}
        <tr>
          <td width="25%" class="label">{{key}}:</td>
          <td width="25%">
            {% if choices %}
                <select name="{{key}}">
                    {% for opt in choices %}
                      <option>{{opt}}</option>
                    {% endfor %} 
                </select>
            {% else %}
                <input type='text' name='{{key}}' value="*" />
            {% endif %}
          </td>
        </tr>
        {% endif %}
      {% endfor %}

      <tr><td> </td></tr>
      <tr><td> </td></tr>

      </table>

      <input type="submit" value="Get References" />
    </form>
{% endblock column1 %}

{% block help %}
    <p><b>Enter Dataset Parameters</b> 
    Select the dataset matching parameters used to identify best references. 
    </p>

    <p/><p>Some of the parameters may not be relevant to the
instrument mode of interest and should be left unselected in order to avoid errors.
The results will be determined by the context file and parameters selected.
</p>
{% endblock help %}

