{% extends "base.html" %}

{% block column1 %}
  <form action="/bestrefs/" method="post"" enctype="multipart/form-data"> {% csrf_token %}
    <h2>Get Best References</h2>
    
    <h3>Context:</h3>
    {% include "select_pmap.html" %}
    
    <h3>Dataset:</h3>
    <table>
      <tr>
        <td>
           <input type="radio" name="dataset_mode" value="dataset_uploaded" checked>Uploaded
        </td>
        <td align="right">
           <input type="file" class="multi" maxlength="1" name="dataset_uploaded"/>
        </td> 
      </tr>
      <tr>
        <td>
            <input type="radio" name="dataset_mode" value="dataset_archive">Archived
        </td>
        <td align="left">
            <input type="text" width="32" name="dataset_archive" value="{{dataset_archive}}" />
        </td>
      </tr>
    </table>
    
    <br/>
    <input type="submit" value="Submit" />
  </form>
{% endblock column1 %}

{% block help %}

    <p><b>Dataset Best References</b> lets you determine the best reference files 
    for an archived or uploaded dataset, relative to the chosen CRDS context.
    
    <p><p><b>Context</b> this section defines the version of the pipeline 
    context that should be used to determine the best reference files. The 
    context file chosen defines the parameter choices which will be available 
    as well as complete file selection criteria.

    <p><p><b>Dataset</b> Dataset specifies the name of an archived or uploaded 
    dataset for which the user needs to know the best references files that are 
    defined by the chosen context.

{% endblock help %}