{% extends "base.html" %}

{% block head_additions %}
{% endblock head_additions %}

{% block column1 %}
    <h2>Explore Best References <span class="value">({{mapping.filename}} : {{instrument}})</span></h2>
    <form method="post" action="/bestrefs_explore_compute/"> {% csrf_token %}
      <input type="hidden" name="context" value="{{mapping.filename}}" />
      <input type="hidden" name="instrument" value="{{instrument}}" />
      <h3>Enter Dataset Parameters</h3>
      <table width="100%">
      {% for key, choices in valid_values %}
        <tr>
          <td width="25%" class="label">{{key}}:</td>
          <td width="25%">
            {% if choices %}
                <select name="{{key}}">
                    {% for opt in choices %}
                      <option>{{opt}}</option>
                    {% endfor %} 
                </select>
            {% else %}
                <input type='text' name='{{key}}' />
            {% endif %}
          </td>
        </tr>
      {% endfor %}
        <tr>
          <td width="25%" class="label">DATE-OBS:</td>
          <td width="25%"><input type="text" name="DATE-OBS" /><td/>
          <td width="25%" class="hint">e.g. 2011-01-01</td>
        </tr>
        <tr>
          <td width="25%" class="label">TIME-OBS:</td>
          <td width="25%"><input type="text" name="TIME-OBS" /><td/>
          <td width="25%" class="hint">e.g. 12:00:00</td>
        </tr>
      </table>
      <p></p>
      <input type="submit" value="Get References" />
    </form>
{% endblock column1 %}

{% block help %}
    <p><b>Enter Dataset Parameters</b> 
    Select the dataset parameters. We show those parameters that are relevant
for the selection of the best reference file associated with any context
file. Therefore, some of the parameters will not be relevant to the
instrument mode of interest and should be left unselected in order to avoid errors.
The results will be determined by the context file and instrument selected.
{% endblock help %}
