{% extends "base.html" %}

{% block column1 %}

<h2>Explore Best References</h2>

<form action="/bestrefs_explore/" method="post""> {% csrf_token %}
    <h3>Context:</h3>
    {% include "select_pmap.html" %}
    
    <h3>Instrument:</h3>
    {% include "select_instrument.html" %}

    <br/><br/><br/>

    <input type="submit" value="Submit" />
</form>

{% endblock column1 %}

{% block help %}
    
    <p><b>Explore Best References</b> Given a set of instrument parameters this
    form lets a knowledgeable user identify the best reference files recommended by CRDS.

    <p><p><b>Context</b> this section defines the version of the pipeline 
    context that should be used to determine the best reference files. The 
    context file chosen defines the parameter choices which will be available 
    as well as complete file selection criteria.

    <p><p><b>Instrument</b> defines the instrument for which parameter choices 
    will be displayed.

{% endblock help %}