{% extends "base.html" %}

{% block contents_both %}

<h2>Explore Best References</h2>

<div class="row">

<div class="col-md-8">
    <form action="/bestrefs_explore/" method="post"> {% csrf_token %}
        <h3>Select Context:</h3>
        {% include "select_pmap.html" %}
        
        <h3>Select Instrument:</h3>
        {% include "select_instrument.html" %}

        <br/><br/><br/>

        <input class="btn btn-primary" type="submit" value="Choose Instrument" />
    </form>
</div>

<div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
            <p><b>Explore Best References</b> supports browsing over and manually selecting the 
            matching parameters for best references.
            </p>

            <p/><p><b>Context</b> defines the version of the pipeline 
            context used to determine the best reference files. The context chosen defines 
            available parameter choices and file selection rules.
            </p>

            <p/><p><b>Instrument</b> defines the instrument for which parameter choices 
            will be displayed.
            </p>
      </div>
    </div>    
</div>

</div>
{% endblock contents_both %}

{% block help %}
{% endblock help %}

{% block bottom_help %}
    {% include "bestrefs_bottom_help.html" %}
{% endblock bottom_help %}

