{% extends "base.html" %}
{% load stdtags %}

{% block head_additions %}
{% endblock head_additions %}

{% block contents_both %}
    <h2>Explore Best References <span class="value">({{mapping.filename}} : {{instrument}})</span></h2>
    <form method="post" action="/bestrefs_explore_compute/"> {% csrf_token %}
      <input type="hidden" name="context" id="context" value="{{mapping.filename}}" />
      <input type="hidden" name="instrument" id="instrument" value="{{instrument}}" />
      <h3 title="Select parameter values used to determine best references.">Enter Dataset Parameters</h3>
      
      <table width="100%">
      {# repeated for-loop with "CORR in" and "CORR not in:" #}
      
      {% for key, choices in valid_values %}
        {% if "CORR" not in key %}
        <tr>
          <td width="25%">{{key}}:</td>
          <td width="25%">
            {% if choices %}
                <select class="parameter_select" name="{{key}}" id='{{key|split:"."|join:"_"}}'>
                    {% for opt in choices %}
                      <option name="{{opt}}">{{opt}}</option>
                    {% endfor %} 
                </select>
            {% else %}
                <input type='text' name='{{key}}' id='{{key|split:"."|join:"_"}}' value="*" />
            {% endif %}
          </td>
          <td width="25%">
            {% if choices %}
                <input type='text' name='{{key}}_text' id='{{key|split:"."|join:"_"}}_text' value='' />
            {% endif %}
          </td>
        </tr>
        {% endif %}
      {% endfor %}

      <tr><td> </td></tr>
      <tr><td> </td></tr>

      <tr>
        <td width="25%" class="">DATE-OBS:</td>
        <td width="20%"><input type="text" name="DATE-OBS" id="DATE-OBS" value="{{dateobs}}"/> </td>
        <td width="30%"><span class="hint">e.g. 2011-01-01</span></td>
      </tr>
      <tr>
        <td width="25%" class="">TIME-OBS:</td>
        <td width="20%"><input type="text" name="TIME-OBS" id="TIME-OBS" value="{{timeobs}}"/> </td>
        <td width="30%"><span class="hint">e.g. 12:01:57</span> </td>
      </tr>
      
      <tr><td> </td></tr>
      <tr><td> </td></tr>

      {% for key, choices in valid_values %}
        {% if "CORR" in key %}
        <tr>
          <td width="25%" class="">{{key}}:</td>
          <td width="25%">
            {% if choices %}
                <select name="{{key}}" id='{{key|split:"."|join:"_"}}'>
                    {% for opt in choices %}
                      <option>{{opt}}</option>
                    {% endfor %} 
                </select>
            {% else %}
                <input type='text' name='{{key}}' id='{{key|split:"."|join:"_"}}' value="*" />
            {% endif %}
          </td>
        </tr>
        {% endif %}
      {% endfor %}

      <tr><td> </td></tr>
      <tr><td> </td></tr>

      </table>

      <input class="btn btn-primary" type="submit" value="Get References" />
    </form>

    <br/>
    {%include "bluebar.html" %}

    <div>
      <h3>About Parameters</h3>
        <p>The selected context file and parameter values determine
          best references.
        </p><p/>
        
        <p>Some <b>parameters may not be relevant</b> to the chosen
          instrument mode and should be left unselected to avoid errors.
        </p><p/>
        
        <p>The <b>secondary text box</b> available for some parameters can 
          specify <b>arbitrary values</b> not captured by the dropdown menu. Any
          write-in parameter will take precedence over the dropdown menu.
        </p>
    </div>

{% endblock contents_both %}

{% block help %}
{% endblock help %}

