{% extends "base.html" %}

{% block head_additions %}
{% endblock head_additions %}

{% block column1 %}
    <h2>Get Best References <span class="value">({{ctx.filename}})</span></h2>
    <form method="post" action="/bestrefs/compute/"> {% csrf_token %}
      <input type="hidden" name="instrument-context" value="{{ctx.filename}}" />
      <h3>Enter Dataset Parameters</h3>
      <table width="100%">
      {% for key, choices in parkey_map_items %}
        <tr>
          <td width="25%" class="label">{{key}}:</td>
          <td width="25%">
            <select name="{{key}}">
            {% for opt in choices %}
              <option>{{opt}}</option>
            {% endfor %} 
            </select>
          </td>
        </tr>
      {% endfor %}
        <tr>
          <td width="25%" class="label">DATE-OBS:</td>
          <td width="25%"><input type="text" name="DATE-OBS" /><td/>
          <td width="25%" class="hint">e.g. 1-1-2011</td>
        </tr>
        <tr>
          <td width="25%" class="label">TIME-OBS:</td>
          <td width="25%"><input type="text" name="TIME-OBS" /><td/>
          <td width="25%" class="hint">e.g. 12:00:00</td>
        </tr>
      </table>
      <p></p>
      <input type="submit" value="Get References" />
    </form>
{% endblock column1 %}
