{% extends "base.html" %}

{% block column1 %}
    <h2>Blacklist File</h2>
    <form method="post" action="/blacklist/" enctype="multipart/form-data"> 
      {% csrf_token %}
      <table width="100%">
        <tr>
            <td class="label" width="15%">Observatory:</td>
            <td width="25%"><select name="observatory" />
                <option>hst</option>
                <option>jwst</option>
                </select>
            </td>
        </tr>
        <tr>
          <td width="15%" class="label">File:</td>
          <td width="25%">
            <input type='text' name='file_known' size="40" value="{{file_known}}"/>
          </td>
        </tr>
        <tr>
          <td width="15%" class="label">Mark as:</td>
          <td width="25%">
            <select name='badflag'/>
                <option>bad</option>
                <option>ok</option>
            </select>
          </td>
        </tr>
        <tr>
          <td width="15%" class="label">Reason:</td>
          <td width="30%"><textarea name="why" rows="4" cols="40">{{why}}</textarea>
          </td>
        </tr>
      </table>
      <p></p>
      <input type="submit" value="Submit">
    </form>
{% endblock column1 %}

{% block help %}

    <p><b>Blacklist File</b> Marks a file as "bad" or "ok".   Any  attempt to 
    use a "bad" file by the CRDS network client or website will generate an error.
    
    <p><p><b>Observatory</b> The observatory owning the blacklisted file.
    
    <p><p><b>File</b> a known CRDS mapping or reference filename to be blacklisted.

    <p><p><b>Mark as</b> Choose "bad" to disable a file.  Choose "ok" to reenable.

    <p><p><b>Reason</b> Why this file is no longer usable or is usable once again.
    

{% endblock help %}
