      
      <input type='hidden' name='observatory' value='{{observatory}}'>
      
      <tr>
        <td class="label" width="50%">Instrument:</td>
        <td align="right">
            {% include "select_instrument.html" %}
        </td>
      </tr>
      
      <tr>
        <td class="label" width="50%">Reference Type:</td>
        <td align="right">
            {% include "select_filekind.html" %}
        </td>
      </tr>
      
      <tr>
        <td class="label" width="50%">Filename:</td>
        <td align="right"><input type="text" name="filename" value="{{filename}}"/></td>
      </tr>
      
      {% if is_authenticated %}
      <tr>
        <td class="label" width="50%">User:</td>
        <td align="right">
            <select name="deliverer_user" />
            {% for user in users %}
                {% if user == deliverer_user %}
                    <option selected>{{user}}</option>
                {% else %}
                    <option>{{user}}</option>
                {% endif %}
            {% endfor %}
            </select>
        </td>
      </tr>
      {% else %}
        <input type="hidden" name="deliverer_user" value="*">
      {% endif %}
      
