{% extends "base.html" %}

{% block column1 %}
    <h2>Browse</h2>
    <form method="post" action="/browse/" enctype="multipart/form-data"> 
      {% csrf_token %}
      <table width="100%">
        <tr>
          <td width="5%">
                <input type="radio" name="filemode" 
                        value="file_known" checked />
          </td>
          <td width="25%" class="label">Known File:</td>
          <td width="25%">
            <input type='text' name='file_known' size="32">
          </td>
          <td class="hint">e.g. hst_0001.pmap</td>
        </tr>
        <tr>
          <td width="5%">
            <input type="radio" name="filemode" class="multi" maxlength="1" value="file_uploaded" />
          </td>
          <td width="25%" class="label">Uploaded File:</td>
          <td width="25%">
            <input type='file' name='file_uploaded' size="32">
          </td>
        </tr>
      </table>
      <p></p>
      <input type="submit" value="Browse">
    </form>
{% endblock column1 %}

{% block help %}
<p><b>Enter the name of a mapping or reference file to examine.  
Follow links for information on other related files.</b>
{% endblock help %}

