{% extends "base.html" %}

{% block column1 %}

<form action="/browse_db/" method="post""> {% csrf_token %}
    <h2>Browse Database</h2>
    <h3>Filters</h3>
    <table>
        {% include "browse_options.html" %}
        {% include "status_options.html" %}
        {% include "extension_options.html" %}
    </table>
    <br/>
    <input type="submit" value="Submit" />
</form>

{% endblock column1 %}

{% block help %}

<p><b>Browse Database</b> Searches the CRDS database for files matching the
criteria you specify.   Filters restrict the search to files matching that value.
To ignore a field during search, set it to *.
    
{% endblock help %}

