      <tr>
        <td class="label" width="50%">Observatory:</td>
        <td align="right">
            <select name="observatory" value="{{observatory}}"/>
                {% for obs in observatories %}
                    {% if observatory == obs %}
                        <option selected>{{obs}}</option>
                    {% else %}
                        <option>{{obs}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </td>
      </tr>
      <tr>
        <td class="label" width="50%">Instrument:</td>
        <td align="right">
            <select name="instrument" value="{{instrument}}"/>
                {% for instr in instruments %}
                    {% if instr == instrument %}
                        <option selected>{{instr}}</option>
                    {% else %}
                        <option>{{instr}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </td>
      </tr>
      <tr>
        <td class="label" width="50%">File Kind:</td>
        <td align="right">
            <select name="filekind" value="{{filekind}}"/>
                {% for fk in filekinds %}
                    {% if fk == filekind %}
                        <option selected>{{fk}}</option>
                    {% else %}
                        <option>{{fk}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </td>
      </tr>
      <tr>
        <td class="label" width="50%">Status:</td>
        <td align="right">
            <select name="status" value="{{status}}"/>
                {% for stat in statuses %}
                    {% if stat == status %}
                        <option selected>{{stat}}</option>
                    {% else %}
                        <option>{{stat}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </td>
      </tr>
      <tr>
        <td class="label" width="50%">Filename:</td>
        <td align="right"><input type="text" name="filename" value="{{filename}}"/></td>
      </tr>
      <tr>
        <td class="label" width="50%">User:</td>
        <td align="right">
            <select name="deliverer_user" value="{{deliverer_user}}"/>
            {% for user in users %}
                {% if user == deliverer_user %}
                    <option selected>{{user}}</option>
                {% else %}
                    <option>{{user}}</option>
                {% endif %}
            {% endfor %}
            </select>
        </td>
      </tr>

      
