{% extends "base.html" %}

{% block column1 %}
    <h2>Certify File</h2>
    <form method="post" action="/certify/" enctype="multipart/form-data"> 
      {% csrf_token %}
      <table width="100%">
        <tr>
          <td width="5%">
            <input type="radio" name="filemode" value="file_uploaded" checked />
          </td>
          <td width="25%" class="label">Uploaded File:</td>
          <td width="25%">
            <input type='file' name='file_uploaded' size="32">
          </td>
        </tr>
        <tr>
          <td width="5%">
                <input type="radio" name="filemode" 
                        value="file_known" />
          </td>
          <td width="25%" class="label">Known File:</td>
          <td width="25%">
            <input type='text' name='file_known' size="32" 
                value="{{file_known}}">
          </td>
        </tr>
        {% comment %}
        <tr><td>&nbsp;</td></tr>
        <tr>
          <td width="5%">
                <input type="checkbox" name="check_references_exist"/>
          </td>
          <td width="50%" class="label" colspan="2">Check References Exist</td>
        </tr>
        <tr></tr>
        {% endcomment %}
      </table>
      <br/>
      <br/>
      <input type="submit" value="Certify File">
    </form>
{% endblock column1 %}

{% block help %}

<p><b>Certify File</b> runs the same checks required for submission and
presents any errors as well as provenance information for review.

<p><p><b>Uploaded File</b> lets you temporarily upload a prototype reference or 
mapping to the CRDS server for certification.

<p><p><b>Known File</b> lets you re-certify a mapping or reference
which has already been submitted to CRDS.

<p><p>NOTE: If you have installed CRDS,  you can certify files locally like 
this:
<pre>% python -m crds.certify ./hst_acs_biasfile_0001.rmap</pre> 
<pre>% python -m crds.certify --dump-provenance ./myfile.fits</pre>

<p><p>WARNING: certification of context files,  pmaps and imaps, is a transitive 
check so it may certify many mappings and can be slow.

{% endblock help %}
