{% load stdtags %}

{% if certify_results %}
    <h3>Certify Results</h3>
    {% for file, results in certify_results.items %}
        <div class="accordion">
            {% if new_file_map %}
            <h3><a href="#">{{file}} --> {{new_file_map|lookup:file|blue}}  {{results.0|color_status}}</a></h3>
            {% else %}
            <h3><a href="#">{{file}} {{results.0|color_status}}</a></h3>
            {% endif %}
            <div>
                {% if new_file_map %}
                    <a href='/browse/{{new_file_map|lookup:file}}'>{{new_file_map|lookup:file}}</a>
                {% else %}
                    <a href='/browse/{{file}}'>{{file}}</a>
                {% endif %}
                <div class='program'>
                    <pre>{{ results.1|safe }}</pre>
                </div>  <!-- program -->
            </div>  <!-- contents -->
        </div> <!-- accordian -->
   {% endfor %}
   <br/>
 {% endif %} <!-- certify_results -->

