{% extends "base.html" %}

{% load stdtags %}

{% block contents_top %}
{% endblock contents_top %}

{% block contents %}
<div id="contents_top">

     <h2>Using CRDS from the Command Line</h3>

     <div id="overview">

      <h3>Overview</h3>

      <p> CRDS uses command line tools or calibration software to identify and automatically download
      required reference files.
      </p>

      <p>Working with CRDS references typically involves one or more of the following:</p>

      <h3>Installing CRDS</h3>

      <p>The current preferred approach is to install CRDS as part
      of <a href='http://astroconda.readthedocs.io/en/latest/'>Astroconda</a>.</p>

      <h3>Configuring UNIX</h3>

      {% if observatory|upper == "HST" %} 
      <p><b>Onsite</b> users can use shared CRDS files in <b>/grp/crds/cache</b>. No downloads
        or CRDS configuration are required. <b>Reference environment
        variables</b> must be pointed at CRDS files:
      </p><p/>
      <pre class="code darkblue">
setenv CRDS_PATH /grp/crds/cache
setenv CRDS_OBSERVATORY hst
setenv iref  ${CRDS_PATH}/references/hst/
setenv jref  ${CRDS_PATH}/references/hst/
setenv oref  ${CRDS_PATH}/references/hst/
setenv lref  ${CRDS_PATH}/references/hst/
setenv nref  ${CRDS_PATH}/references/hst/
setenv uref  ${CRDS_PATH}/references/hst/</pre>
      {% accordion "sh syntax:" %}</p>
      <p/>
      <pre class="code darkblue">
export CRDS_PATH="/grp/crds/cache"
export CRDS_OBSERVATORY="hst"
export iref="${CRDS_PATH}/references/hst/"
export jref="${CRDS_PATH}/references/hst/"
export oref="${CRDS_PATH}/references/hst/"
export lref="${CRDS_PATH}/references/hst/"
export nref="${CRDS_PATH}/references/hst/"
export uref="${CRDS_PATH}/references/hst/"</pre>
      {% endaccordion %}
      {% else %}
      <p><b>Onsite use</b> generally requires <b>no CRDS setup for JWST</b> and uses
        shared CRDS files located under <b>/grp/crds/cache</b>.
      </p>
      <p/>
      <pre class="code darkblue">
# Typical onsite users and developers need no configuration for JWST.</pre>
      {% endif %}

      <p><b>For personal or offsite use</b>,  configuration requires 
        defining:
      </p> 
      <p/>

      {% if observatory|upper == "HST" %} 
      <pre class="code darkblue">
setenv CRDS_PATH $HOME/crds_cache
setenv CRDS_SERVER_URL https://hst-crds.stsci.edu
setenv iref  ${CRDS_PATH}/references/hst/iref/
setenv jref  ${CRDS_PATH}/references/hst/jref/
setenv oref  ${CRDS_PATH}/references/hst/oref/
setenv lref  ${CRDS_PATH}/references/hst/lref/
setenv nref  ${CRDS_PATH}/references/hst/nref/
setenv uref  ${CRDS_PATH}/references/hst/uref/</pre>
        {% else %}
            <pre class="code darkblue">
setenv CRDS_PATH $HOME/crds_cache
setenv CRDS_SERVER_URL https://jwst-crds.stsci.edu</pre>
        {% endif %}
            
     {% accordion "sh syntax:" %}
      {% if observatory|upper == "HST" %} 
      <pre class="code darkblue">
export CRDS_PATH="$HOME/crds_cache"
export CRDS_SERVER_URL="https://hst-crds.stsci.edu"
export iref="${CRDS_PATH}/references/hst/iref/"
export jref="${CRDS_PATH}/references/hst/jref/"
export oref="${CRDS_PATH}/references/hst/oref/"
export lref="${CRDS_PATH}/references/hst/lref/"
export nref="${CRDS_PATH}/references/hst/nref/"
export uref="${CRDS_PATH}/references/hst/uref/"</pre>
        {% else %}
            <pre class="code darkblue">
export CRDS_PATH="$HOME/crds_cache"
export CRDS_SERVER_URL="https://jwst-crds.stsci.edu"</pre>
        {% endif %}
      {% endaccordion %}

      <p>This defines where personal copies of CRDS files are stored and which
      CRDS server is used.</p>

      <p>Non-standard onsite configurations (TEST, I&T, DEV) require similar 
      setup and designation of the appropriate server and cache area.
      </p>



      <h3>Assigning, obtaining, and caching reference files.</h3>

      {% if observatory|upper == "HST" %} 
          <p>For <b>HST</b>,  CRDS has a command line tool that <b>assigns best references</b> to
            the FITS headers and can also <b>download and cache</b> the best reference files.
          </p><p/>

          <pre class="code darkblue">crds bestrefs --update-bestrefs --sync-references=1 --files *.fits</pre>
      
          <p>Since the files are cached, re-running the tool later will only
             download those files which have been updated.
          </p>
      {% else %}
          <p>For <b>JWST</b> best references are assigned and/or downloaded transparently
            when calibration software is run. </b>
          </p>
          <p><a href='http://ssb.stsci.edu/doc/jwst_dev/jwst_pipeline.pipeline.doc.user_guide.doc/html/main.html'>Performing
          JWST Calibrations</a> describes running JWST calibrations more generally,  including implicitly CRDS.
          </p>
      {% endif %}

    <h3>Other Notes</h3>

      <p>Once initialized, <b>CRDS can operate</b> from cache <b>when not
        connected to the Internet</b>.  In this disconnected mode CRDS runs
        normally but can only assign the best reference files known to the
        local cache.
      </p>

      <p>CRDS creates and maintains your CRDS cache.  <b>Direct
      edits</b> to files in the cache <b>should be avoided.</b>
      </p>

      <p><b>Recalibrating</b> to utilize new references <b>should not require
      redownloading</b> your datasets or previously cached reference files.
      </p>

</div>
{% endblock contents %}

{% block contents_bottom %}
{% endblock contents_bottom %}
