{% load stdtags %}

{% if collision_list %}
    {% accordion "<span class="warning">Edit Collision Warnings</span>" %}
    <div>
    {% for colinfo in collision_list %}
        {% for collision in colinfo.2 %}
            <p class="warning">
            {{colinfo.0|browse}} and {{collision|browse}} 
            were both derived from {{colinfo.1|browse}}
            </p>
        {% endfor %}
    {% endfor %}
    <br/>
    <p>A file was derived from the same parent file as one or more others.
    
    <p>Possibly two people edited the same file at the same time 
    and will not incorporate one another's changes.
    
    <p>This warning is expected whenever you derive a new context from a historical
    context which already has descendents, i.e. typically when you derive from 
    a context other than the default editing context.
    
    <p class="warning">If this is an unexplained collision, consider cancelling 
    this submission.
    </div>
    {% endaccordion %}
{% endif %}


