{% extends "base.html" %}

{% block column1 %}
    <h2>Common Updates</h2>
    <ol>
    <li><a href="/create_contexts/">Create Parent Contexts</a></li>
    <li><a href="/add_userafter/">Add New UserAfter</a></li>
    <li><a href="/replace_reference/">Replace Reference In Rmap</a></li>
    </ol>
{% endblock column1 %}

{% block help %}
    <p><p><b>Create Parent Contexts</b> generates and submits new pipeline and 
    instrument mappings which refer to new reference mappings you created 
    elsewhere.

    <p><p><b>Replace Reference In Rmap</b> will substitute a single reference 
    file for another in an existing reference mapping.
    
    <p><p><b>Add New UseAfter</b> lets you add a new useafter date and 
    corresponding reference file to an existing reference mapping.
    
    <p><p>In all cases,  the mappings and reference files must already have been
    submitted to CRDS.  These features let you tweak existing reference maps or
    automatically generate a new parent context for new reference maps.
{% endblock help %}
