<div>
        <h3 title="When specified, check against prior rules and replaced references."
            >Compare Old Reference:  
        </h3>
        <input type="checkbox" name="compare_old_reference" checked />

        <div id="comparison-context-hide">
            <h3 title="Context in which to locate replaced references.">Comparison Context</h3>
            {% include "select_pmap.html" %}
        </div>
</div>        
        <script type="text/javascript" language="javascript">
            $("input[name='compare_old_reference']").change(function() {
                var checkbox = $("input[name='compare_old_reference']");
                console.log("checkbox: " + checkbox.val());
                if (checkbox.is(":checked")) {
                        $("#comparison-context-hide").show();
                } else {
                        $("#comparison-context-hide").hide();
                };
            });
        </script>
