{% if disposition %}
    {% if disposition == "confirmed" %}
        <h2 class="success">{{disposition}}</h2>
    {% else %}
        <h2 class="error">{{disposition}}</h2>
    {% endif %}
{% else %}

    {% block head_overrides %}
        {% include "jpoll/jpoll_head_overrides.html" %}
    {% endblock %} 

    {% if is_authenticated %}
    <div id="confirm_or_cancel">
        <h2>Confirm or Cancel Submission</h2>
        <form method="post" action="/submit_confirm/" enctype="multipart/form-data"
            class="jpoll_ajax_html_form"
            onsubmit='return crds.submit_confirm_or_cancel();' >  {% csrf_token %}    
            <input type='hidden' name='results_id' value="{{results_id}}" />
            <input type="submit" name="button" value="confirm" class="green">
            <input type="submit" name="button" value="cancel"  class="red">
        </form>
    </div>
    {% endif %}
{% endif %}
 
<script type="application/javascript">
    
    var submit_kind;    
    $("input[type='submit']").click(function () { submit_kind = this.value; });

    crds.submit_confirm_or_cancel = function () {
        $("input[type='submit']").hide();
        // crds.setup_status_display("Confirmation Status");
        if (submit_kind == "confirm") {
            crds.set_info_box({
                text: "CONFIRMING...  This may take a minute or so to update the database.",
                 css: {color: "green"},
            });
        } else {
            crds.set_info_box({
                text: "CANCELLING... This may take a minute or so to update the database.",
                 css: {color: "red"},
            });
        };
        return true;
    };
    
    crds.lock_timeout_action = function () {
        console.log("lock timeout cancel action;  no action");
        // window.location = "/submit_confirm/?button=timeout&results_id={{results_id}}";
    };

</script>
