{% if disposition %}
    {% if disposition == "confirmed" %}
        <h2 class="success">{{disposition}}</h2>
    {% else %}
        <h2 class="error">{{disposition}}</h2>
    {% endif %}
{% else %}

    {% block head_overrides %}
        {% include "jpoll/jpoll_head_overrides.html" %}
    {% endblock %} 
    
    <div id="confirm_or_cancel">
        <h2>Confirm or Cancel Submission</h2>
        <form method="post" onsubmit='return crds.submit_confirm_or_cancel();' 
              class="jpoll_ajax_html_form"
              >  {% csrf_token %}    
            <input type="submit" name="button" value="confirm" class="green">
            <input type="submit" name="button" value="cancel"  class="red">
        </form>
    </div>
    
{% endif %}
 
<script type="application/javascript">

    var submit_kind;    
    $("input[type='submit']").click(function () { submit_kind = this.value; });

    crds.submit_confirm_or_cancel = function () {
        $("input[type='submit']").hide();
        // crds.setup_status_display("Confirmation Status");
        if (submit_kind == "confirm") {
            crds.set_info_box({
                text: "CONFIRMING...  This may take a minute or so to update the database.",
                 css: {color: "green"},
            });
            $.ajax.get({url: "/login?next=/submit_confirm/confirm/{{results_id}}/"});
        } else {
            crds.set_info_box({
                text: "CANCELLING... This may take a minute or so to update the database.",
                 css: {color: "red"},
            });
            window.location.href = "/login?next=/submit_confirm/cancel/{{results_id}}/";
        };
        return false;
    };
    
    crds.lock_timeout_action = function () {
        console.log("lock timeout cancel action;  no action");
        // window.location = "/submit_confirm/?button=timeout&results_id={{results_id}}";
    };

</script>
