<h2>Confirm or Abort Submission</h2>
<form method="post" action="/submit_confirm/" 
    enctype="multipart/form-data">  {% csrf_token %}

    <input type='hidden' name='new_file_map' value='{{new_file_map}}' />
    <input type='hidden' name='generated_files' value='{{generated_files}}' />
    <input type='hidden' name='submission_kind' value='{{submission_kind}}' />
    <input type='hidden' name='description' value='{{description}}' />
    <input type='hidden' name='title' value='{{title}}' />
    <input type='hidden' name='more_submits' value="{{more_submits}}" />
    
    <input type="submit" name="button" value="confirm" >
    <input type="submit" name="button" value="discard" >

    <br/>
    <br/>
</form>
 
