{% extends "base.html" %}

{% load stdtags %}

{% block contents %}

    <h2>{{title}}</h2>

    <div>
        <style scoped>
            table, th, td {
                border: 1px solid black;
            }
            th {
                font-size: 0.8em;
                font-weight: bold;
                color: darkblue;
                text-align: left;
            }
        </style>

        {% if confirmed %}
        
            <p class='success'>Submission Confirmed.</p>
            
            {% include "select_pmap_results.html" %}
            
            {% if uploaded_files %}
                <h3>Uploaded Files</h3>
                <table>
                    <thead>
                        <tr> <td>Upload Name</td> <td></td>  <td>CRDS Name</td>  </tr>
                    </thead>
                    <tbody>
                    {% for file in uploaded_files %}
                        <tr> <td>{{file.0|gray}}</td> <td>--></td> <td>{{file.1|browse}}</td> </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            
            {% if deleted_files %}
                <h3>Deleted Files</h3>
                {% for file in deleted_files %}
                <p>{{file|browse}}</p>
                {% endfor %}
            {% endif %}
            
            {% if added_files %}
                <h3>Added Files</h3>
                {% for file in added_files %}
                <p>{{file|browse}}</p>
                {% endfor %}
            {% endif %}
            
            {% if context_rmaps %}
                <h3>Rmaps Added To Contexts</h3>
                <table>
                    {% for file in context_rmaps %}
                        <tr><td>{{file|browse}}</td></tr>
                    {% endfor %}
                </table>
            {% endif %}
            
            {% if generated_files %}
                <h3>Generated Files</h3>
                <table>
                    <thead>
                        <tr> <td>Source Mapping</td> <td></td>  <td>New Mapping</td> </tr>
                    </thead>
                    <tbody>
                    {% for file in generated_files %}
                        <tr> <td>{{file.0|gray}}</td> <td>--></td>  <td>{{file.1|browse}}</td>  </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        
        {% else %}
            <p class='error'>Submission Discarded: {{disposition}}</p>
        {% endif %}

    </div>
    
    {% include "collision_explain.html" %}
    
    {% if prior_results_url %}
    <h3>Confirmation Page:</h3>
    <a href="{{prior_results_url}}">{{prior_results_url}}</a>
    <br/>
    <br/>
    {% endif %}

    {% if more_submits %}
        <div>
            <style scoped>
                table, th, td {
                    border: none;
                }
            </style>
            <br/>
            <table>
                <tr>
                    {% if more_submits != "/" %}
                    <td>
                        <form method="link" action="{{more_submits}}">
                        <input type="submit" value="Next Submission">
                        </form>
                    </td>
                    {% endif %}
                    <td>
                        <form method="link" action="/">
                        <input type="submit" value="Home">
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    {% endif %}
    
{% endblock contents %}

