{% extends "base.html" %}

{% block head_overrides %}
    <link type="text/css" rel="stylesheet" href="/static/crds_tables.css" />
    <link type="text/css" rel="stylesheet" href="/static/jquery.dataTables.css" />
    <script type="text/javascript" language="javascript" src="/static/jquery.dataTables.min.js"></script>
{% endblock head_overrides %}

{% load stdtags %}

{% block contents %}

<h2>
    Browse {{pmap.header.name|browse}}     
</h2> 

{% for pitem in pmap.selections %}
    {% accordion  "<span class='blue'>" pitem.0 "</span>" %}
        <p><a href="/browse/{{pitem.1.header.name}}">{{pitem.1.header.name}}</a></p><br/>
        {% for iitem in pitem.1.selections %}
            {% accordion "<span class='blue'>" iitem.1.header.filekind "</span> ---- <span class='green'>"  iitem.1.text_descr "</span>" %}
                <p><a href="/browse/{{iitem.1.header.name}}">{{iitem.1.header.name}}</a></p><br/>
                <div class="rmap_tag" url="/context_table/{{iitem.1.header.name}}">{{iitem.1.header.name}}</div>        
            {% endaccordion %}
        {% endfor %}
    {% endaccordion %}
{% endfor %}

<br/><br/>

<script type="text/javascript">
$(function () {
    $("#contents").hide();
    $(".accordion").accordion({
        change: function( event, ui ) {
            console.log(event);
            var div = $(ui.newContent).find(".rmap_tag");
            var url = div.attr("url");
            console.log("Fetching " + url);
            div.html($("<p class='green'>").html("Formatting table..."));
            $.ajax({
                url : url,
                context: document.body
            }).done(function (json) {
                    $.each(json["selections"], function (index, row) {
                        var  refname = row[row.length-1];
                        row[row.length-1] = crds.tag("a", refname, {"href": "/browse/" + refname})
                    });
                    var table = $(crds.format_table(json["parameters"], json["selections"]));
                    table.hide();
                    div.html(table);
                    table.dataTable({
                        "aLengthMenu": [[100, 200, 500, -1], [100, 200, 500, "All"]],
                        "iDisplayLength" : 500                  
                    });
                    table.show();
            });
        }
    });
    $("#contents").show();
});
</script>

{% endblock contents %}
