{% extends "base.html" %}

{% load stdtags %}

{% block contents %}

<h2>
    Browse {{mapping.header.name|gray}}     
</h2> 

{% accordion mapping.header.name %}
    {% for pitem in mapping.selections %}
        {% accordion pitem.0 %}
            {% for iitem in pitem.1.selections %}
                {% accordion iitem.0 %}
                    <table>
                        <tr>
                            {% for par in iitem.1.parameters %}
                                <th>{{par}}</th>
                            {% endfor %}
                        </tr>
                        {% for row in iitem.1.selections %}
                            <tr>
                                {% for col in row %}
                                    <td>{{col}}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </table>
                {% endaccordion %}
            {% endfor %}
        {% endaccordion %}
    {% endfor %}
{% endaccordion %}

<br/><br/>

<script type="text/javascript">
$({
    
});
</script>

{% endblock contents %}
