<script type="text/javascript">
$(function () {
    $("#contents").hide();
    $(".accordion").accordion({
        change: function( event, ui ) {
            console.log(event);
            var div = $(ui.newContent).children("div.rmap_tag");
            var mapping_name = div.attr("mapping_name");
            var url = "/context_table/" + mapping_name;
            if (div.children("table").html()) {
                console.log("table already intialized.")
                return;
            };
            if (!mapping_name) {
               console.log("no url,  skipping fetch.");
               return;
            };
            console.log("Fetching " + url);
            div.html($("<p class='green'>").html("Loading..."));
            $.ajax({
                url : url,
                context: document.body
            }).done(function (json) {
                json.aLengthMenu = [[100, 200, 500, 1000, 2000, 5000, -1], [100, 200, 500, 1000, 2000, 5000, "All"]];
                json.iDisplayLength = 200;
                div.hide();
                div.html("<table><thead></thead><tbody></tbody></table>");
                div.children()
                    .css({"font-size":"0.7em"})
                    .dataTable(json);
                $("#diff_button").css({"font-weight":"bold"});
                div.show();
            });
        },
    });
    $("#contents").show();
});
</script>
