<script type="text/javascript">
$(function () {
    $("#contents").hide();
    $(".accordion").accordion({
        change: function( event, ui ) {
            console.log(event);
            var div = $(ui.newContent).children("div.rmap_tag");
            var url = div.attr("url");
            if (!url) {
               // console.log("no url,  skipping fetch.");
               return;
            };
            // console.log("Fetching " + url);
            div.html($("<p class='green'>").html("Loading..."));
            $.ajax({
                url : url,
                context: document.body
            }).done(function (json) {
                    json["parameters"].push(crds.tag("input","", {"type":"submit", id:"diff_button", value:"diff"}));
                    $.each(json["selections"], function (index, row) {
                        var  refname = row[row.length-1];
                        row[row.length-1] = crds.tag("a", refname, {"href": "/browse/" + refname});
                        row.push("<input type='checkbox' value='" + refname + "'/>");
                    });
                    var table = $(crds.format_table(json["parameters"], json["selections"]));
                    table.hide();
                    table.css({"font-size":"0.7em"});
                    div.html(table);
                    $("#diff_button").css({"font-weight":"bold"});
                    table.dataTable({
                        "aLengthMenu": [[100, 200, 500, 1000, 2000, -1], [100, 200, 500, 1000, 2000, "All"]],
                        "iDisplayLength" : -1                  
                    });
                    $(table).find("tr td:last-child").attr("class", "diff");
                    table.show();
            });
        }
    });
    $("#contents").show();
});
</script>