{% load stdtags %}

{% if include_diff %}
    {% include "diff_col_header.html" %}
{% endif %}

<div id="context_history" style="background-color: #EEEEEE;">
    <table border="1" width="100%" class="ctx">
        <thead class="ctx">
            <tr class="ctx">
                <th width="8%" class="center bold tdlabel ctx">Start Date</th>
                <th width="8%" class="center bold tdlabel ctx">Context</th>
                <th width="8%" class="center bold tdlabel ctx">Status</th>
                <th width="56%" class="center bold tdlabel ctx">Description</th>
                {%if include_diff %}
                    <th width="5%" class="center bold tdlabel ctx"><input type='submit' id="diff_button" value="diff" /></th>
                {% endif %}
            </tr>
        </thead>
        <tbody class="ctx">
        {% for hist in history_tuples %}    {# ( history_rec,  context_fileblob) #}
            <tr class="ctx">
                <td class="center ctx">{{hist.0.start_date|days}}</td>
                <td class="center ctx"><a href="/context_table/{{hist.0.context}}">{{hist.0.context}}</a></td>
                <td class="center ctx {{hist.1.status_class}}">{{hist.1.status}}</td>
                <td class="left ctx">{{hist.0.description}}</td>
                {% if include_diff %}
                    <td class="center ctx">
                        <input type="checkbox" name="diff_file" value="{{hist.0.context}}" />
                        {% if is_authenticated and user|in_group:"edit_context_history" %}
                            <a href="/edit_context_history/{{hist.0.id}}/{{hist.0.context}}">*</a>  {#  style="text-decoration:none" #}
                        {% endif %}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% if include_diff %}
    {% include "diff_col_trailer.html" %}
{% endif %}

