{% load stdtags %}

 <p style="font-size: 0.8em;" class="gray">(under context {{pmap.header.name|browse}})</p>
 <br/>

{% include "diff_col_header.html" %}

{% for pitem in pmap.selections %}
    {% accordion  "<span class='blue'>" pitem.0 "</span>" %}
        <p><a href="/browse/{{pitem.1.header.name}}">{{pitem.1.header.name}}</a></p><br/>
        {% for iitem in pitem.1.selections %}
            {% accordion "<span class='blue'>" iitem.1.header.filekind "</span> ---- <span class='green'>"  iitem.1.text_descr "</span>" %}
                <p><a href="/browse/{{iitem.1.header.name}}">{{iitem.1.header.name}}</a></p><br/>
                <div class="rmap_tag" class="hidden_text" mapping_name="{{iitem.1.header.name}}"></div>        
            {% endaccordion %}
        {% endfor %}
    {% endaccordion %}
{% endfor %}

{% include "diff_col_trailer.html" %}

