{% extends "base.html" %}

{% block head_overrides %}
    {% include "jpoll/jpoll_head_overrides.html" %}
{% endblock %}

{% block contents_top %}
{% endblock %}

{% block column1 %}
    <h2>Delete References  <span class='locked_instrument'>{{locked_instrument}}</span></h2>
    
    <form method="post" action="/delete/reference/" enctype="multipart/form-data"
          id="delete_references_form" class="jpoll_ajax_html_form"
    	  {# onsubmit="return crds.validate_and_confirm_file_delete(this);"  #}
          >  {% csrf_token %}

      <h3>Deleted Files</h3>
      <textarea name="deleted_files" cols="50" rows="4" >{{deleted_files}}</textarea>

      <h3>Derive From Context:</h3>
      {% include "select_pmap.html" %}
       <br/>
        
      <h3>Description: <textarea name="description" id="description" rows="4" cols="50">{{description}}</textarea>   
      </h3>

      <br/>
      <br/>
      <input type="submit" value="Submit References" > <b class="red">WARNING:</b> no confirmation step.  Double-check.
    </form>

{% endblock column1 %}

{% block help %}

<p><b>Delete References</b> generates a new context from the derivation context which omits the listed references.   
Enter file names separated by spaces or newlines.   NOTE: this does not remove references from CRDS.   It creates
a new context which does not contain the references.

<p><p><b>Derive From Context</b> The name of the pipeline context which 
will be recursively updated to delete the reference files.

<p><p><b>Description</b> information about why these files were deleted.

{% endblock help %}
