{% extends "base.html" %}

{% block head_overrides %}
    {% include "jpoll/jpoll_head_overrides.html" %}
{% endblock %}

{% block contents_both %}
    <h2 title="Remove references from  a version of CRDS rules creating new
               rules.  Does not delete from CRDS or archive."
       >Delete References</h2>

    <form method="post" action="/delete/reference/" enctype="multipart/form-data"
          id="delete_references_form" class="jpoll_ajax_html_form"
          onsubmit="return crds.validate_and_confirm_add_delete(this);" >  {% csrf_token %}
      
      <div>
        <h3 title="Newline separated list of *existing* CRDS reference file names.">Deleted Files:</h3>
        <textarea name="deleted_files" cols="50" rows="4" >{{deleted_files}}</textarea>
      </div>
      
      <div>
        <h3 title="Version of CRDS rules from which named references are removed.">Derive From Context:</h3>
        {% include "select_pmap.html" %}
      </div>

      <div>
        <h3 title="Rationale behind removing these files from rules.">Description:</h3>
        <textarea name="description" id="description" rows="4" cols="50">{{description}}</textarea>   
      </div>

      <br/>
      <input class="btn btn-primary" type="submit" value="Delete References" >
    </form>

    <br/>
    <p><b>NOTE:</b> this does not remove references from CRDS, it removes
      references from a set of rules.   Older rules can still access the deleted
      references.
    </p>

{% endblock contents_both %}

{% block help %}
{% endblock help %}
