{% extends "base.html" %}

{% block column1 %}

<form action="/delivery_options/" method="post""> {% csrf_token %}
    <h2>Deliver Files</h2>
    <h3>Narrowing Filters</h3>
    <table>
      <tr>
        <td class="label" width="50%">Observatory:</td>
        <td align="right">
            <select name="observatory" value="{{observatory}}"/>
                {% for observatory in observatories %}
                    <option>{{observatory}}</option>
                {% endfor %}
            </select>
        </td>
      </tr>
      <tr>
        <td class="label" width="50%">Instrument:</td>
        <td align="right">
            <select name="instrument" value="{{instrument}}"/>
                {% for instrument in instruments %}
                    <option>{{instrument}}</option>
                {% endfor %}
            </select>
        </td>
      </tr>
      <tr>
        <td class="label" width="50%">File Kind:</td>
        <td align="right">
            <select name="filekind" value="{{filekind}}"/>
                {% for filekind in filekinds %}
                    <option>{{filekind}}</option>
                {% endfor %}
            </select>
        </td>
      </tr>
      <tr>
        <td class="label" width="50%">OPUS Flag:</td>
        <td align="right">
            <select name="opus_flag" value="{{opus_flag}}"/>
                <option>Y</option>
                <option>*</option>
                <option>N</option>
            </select>
        </td>
      </tr>
      <tr>
        <td class="label" width="50%">Filename:</td>
        <td align="right"><input type="text" name="filename" value="{{filename}}"/></td>
      </tr>
      <tr>
        <td class="label" width="50%">Deliverer:</td>
        <td align="right"><input type="text" name="deliverer_user" value="{{deliverer_user}}"/><span class="hint">or *</span></td>
      </tr>
    </table>
    <input type="submit" value="List" />
</form>

{% endblock column1 %}

{% block help %}

<p><b>Deliver Files</b> lets you choose files which have already been
submitted to CRDS for delivery to downstream systems like OPUS or the archives.
<p>On this page you enter criteria to find candidates for delivery.  
<p>Listed files will satisfy all of the criteria you specify.
<p>Later you can pick and choose which of the listed files to deliver.
{% endblock help %}

