{% extends "base.html" %}

{% block column1 %}

    <h2>Deliver Files</h2>

    <h3>Deliver Context</h3>
    <form action="/deliver_context/" method="post""> {% csrf_token %}
    {% include "select_pmap.html" %}    
    <input type="submit" value="Deliver Context" />
    </form>
    
    <h3>Deliver By Filter/Select</h3>
    <form action="/delivery_options/" method="post""> {% csrf_token %}
    <table>

    {% include "browse_options.html" %}
    {% include "extension_options.html" %}

    </table>
    <br/>
    <input type="submit" value="List Candidates" />
    </form>

{% endblock column1 %}

{% block help %}

<p><b>Deliver Files</b> lets you choose files which have already been
submitted to CRDS for delivery to downstream systems like OPUS or the archives.

<p><b>Deliver Context</b> identifies those files in the given pmap which have been
submitted to CRDS but not yet delivered and adds them to a proposed delivery.

<p><b>Deliver by Filter/Select</b> lets you enter filtering criteria to list 
files from which you can make selections for delivery.

{% endblock help %}

