{% extends "table_base.html" %}

{% load stdtags %}

{% block contents %}

<h2>
    Delivery Status
</h2> 

<table id="crds_delivery_table">
    <thead>
        <th width="10%">Date</th>
        <th width="5%">Submitter</th>
        <th width="5%">Kind</th>
        <th width="5%">Status</th>
        <th width="5%">Catalog</th>
        <th width="35%">Description</th>
        <th width="20%">Files</th>
    </thead>
    <tbody>
        {% for delivery in delivery_status %}
        <tr>
            <td>{{delivery.date|seconds}}</td>
            <td>{{delivery.user}}</td>
            <td>{{delivery.action}}</td>
            <td class={{delivery.status_class}}>{{delivery.status}}</td>
            <td>{{delivery.catalog}}</td>
            <td>{{delivery.description}}</td>
            <td>
                {% for file in delivery.files %}
                    <p>{{file|browse}}</p>
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script type="text/javascript">
    $("#contents").hide();
    $("#crds_delivery_table").dataTable({
        "aaSorting" : []
    });
    $("#crds_delivery_table").css({"class":"crds_data_table", "font-size":"0.8em"});
    $(function () {
        $("#contents").show();
    });
</script>

{% endblock contents %}

