{% load stdtags %}

    {% include "accordion.html" %}

    {% if map_text_diff_items %}
    
        {% autoescape off %}

            <h3>Mapping Logical Differences</h3>
            {% accordion Logical %}
                <table border='1' pad='1'>
                        {% for ldiff in logical_diffs %}
                        <tr>
                                {% for tup in ldiff %}
                                    <td> {{tup}} </td>
                                {% endfor %}
                        </tr>
                        {% endfor %}
                </table>
            {% endaccordion %}
            
            <h3>Mapping Text Differences</h3>
                {% for tdiff in map_text_diff_items %}
                <div class="accordion">
                    <h3><a href="#">{{tdiff.0}}</a></h3>
                    <div>
                        <pre class="program">{{tdiff.1}}</pre>
                    </div>        
                </div>
                {% endfor %}
    
        {% endautoescape %}

    {% else %}
    
        <pre class="program">{{difference|safe}}</pre>        
    
    {% endif %}
