{% extends "base.html" %}

{% block column1 %}
    <h2>Difference File</h2>
    <form method="post" action="/difference/" enctype="multipart/form-data"> 
      {% csrf_token %}
      <table width="100%">
        <tr>
          <td width="5%">File1:</td>
          <td width="25%" class="label"></td>
          <td width="25%"></td>
        </tr>
        <tr>
          <td width="5%">
                <input type="radio" name="filemode1" 
                        value="file_known1" checked />
          </td>
          <td width="25%" class="label">Known:</td>
          <td width="25%">
            <input type='text' name='file_known1' size="32" value="{{file_known1}}"
                    onchange="crds.set_radio('filemode1', 'file_known1');">
          </td>
        </tr>
        <tr>
          <td width="5%">
                <input type="radio" name="filemode1" value="file_uploaded1" />
          </td>
          <td width="25%" class="label">Uploaded:</td>
          <td width="25%">
            <input type='file' maxlength="1" name='file_uploaded1' size="32"
                    onchange="crds.set_radio('filemode1', 'file_uploaded1');">
          </td>
        </tr>
        <tr>
          <td width="5%">File2:</td>
          <td width="25%" class="label"></td>
          <td width="25%"></td>
        </tr>
        <tr>
          <td width="5%">
                <input type="radio" name="filemode2" 
                    value="file_known2" checked />
          </td>
          <td width="25%" class="label">Known:</td>
          <td width="25%">
            <input type='text' name='file_known2' size="32" value="{{file_known2}}"
                      onchange="crds.set_radio('filemode2', 'file_known2');">
          </td>
        </tr>
        <tr>
          <td width="5%">
                <input type="radio" name="filemode2" 
                    value="file_uploaded2" />
          </td>
          <td width="25%" class="label">Uploaded:</td>
          <td width="25%">
            <input type='file' name='file_uploaded2' maxlength="1" size="32"
                    onchange="crds.set_radio('filemode2', 'file_uploaded2');">
          </td>
        </tr>
      </table>
      <p></p>
      <input type="submit" value="Difference Files">
    </form>
{% endblock column1 %}

{% block help %}

<p><b>Difference Files</b> compares mapping or reference files to one another
using CRDS comparison tools,  currently "diff" and "fitsdiff" respectively.

<p><p> NOTE: File differencing is also available in the Context History and 
Browse Database open services.   Those may be more convenient for diffing 
files which are already in CRDS (known files).

{% endblock help %}

