{% load stdtags %}

{% for diff_name,diffs in diff_results %}

    {% if ".imap" in diff_name %}
    <br/>
    {% endif %}

    {% accordion diff_name  %}

        <div>
          <p>
            <span style="color:darkblue;">Browse:&nbsp;&nbsp;</span>
            <a href="/browse/{{diffs.file1}}" class="browse_a">{{diffs.file1}}</a>
            <span>&nbsp;&nbsp;</span>
            <a href="/browse/{{diffs.file2}}" class="browse_a">{{diffs.file2}}</a>
          </p>
          <br/>
        </div>

          {% if diffs.map_text_diff_items %}
            
            {% autoescape off %}
            
                {% if diffs.header_diffs %}
                    {% accordion "Header Diffs" diffs.header_diffs.0.0.1 %}
                        <table border="1" class="crds_data_table table table-striped table-bordered" width="100%">
                            <thead>
                                <tr>
                                    {% for tup in diffs.header_diffs.0|slice:"1:" %}
                                        <th> {{tup.0}} </th>
                                    {% endfor %}                                
                                </tr>
                            </thead>
                            <tbody>
                                {% for hdiff in diffs.header_diffs %}
                                <tr>
                                    {% for tup in hdiff|slice:"1:" %}
                                        <td> {{tup.1}} </td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endaccordion %}
                {% endif %}
                
                {% if diffs.logical_diffs %}
                    {% accordion "Logical Diff" diffs.logical_diffs.0.0.1 %}
                        <table border="1" class="crds_data_table table table-striped table-bordered" width="100%">
                            <thead>
                                <tr>
                                    {% for tup in diffs.logical_diffs.0|slice:"1:" %}
                                        <th> {{tup.0}} </th>
                                    {% endfor %}                                
                                </tr>
                            </thead>
                            <tbody>
                                {% for ldiff in diffs.logical_diffs %}
                                <tr>
                                    {% for tup in ldiff|slice:"1:" %}
                                        <td> {{tup.1|comma_or_patterns|colorize_diff}} </td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endaccordion %}
                {% endif %}
                
                {% if diffs.logical_errors %}
                    {% for err in diffs.logical_errors %}
                        <p class="error">{{err}}</p>
                    {% endfor %}
                {% endif %}
                
                {% for tdiff in diffs.map_text_diff_items %}
                    {% accordion "Text Diff" tdiff.0 %}
                        <pre class="program">{{tdiff.1}}</pre>
                    {% endaccordion %}
                {% endfor %}
                
            {% endautoescape %}
    
        {% else %}
            <pre class="program">{{diffs.difference|safe}}</pre>        
        {% endif %}
    {% endaccordion %}
{% endfor %}

