{% extends "base.html" %}

{% block contents_both %}
    <h2>Difference File</h2>

    <div class="row">
    <div class="col-md-8">
        <form method="post" action="/difference/" enctype="multipart/form-data"> 
          {% csrf_token %}
          <table >
            <tr>
              <td><h3>File 1</h3></td>
              <td ></td>
            </tr>
            <tr>
              <td  class="tdlabel">
                    <input type="radio" name="filemode1" 
                            value="file_known1" checked />
                    Known:
              </td>
              <td >
                <input type='text' name='file_known1' size="32" value="{{file_known1}}"
                        onchange="crds.set_radio('filemode1', 'file_known1');">
              </td>
            </tr>
            <tr>
              <td  class="tdlabel">
                    <input type="radio" name="filemode1" value="file_uploaded1" />
                Uploaded:
              </td>
              <td >
                <input type='file' maxlength="1" name='file_uploaded1' size="32"
                        onchange="crds.set_radio('filemode1', 'file_uploaded1');">
              </td>
            </tr>
            <tr>
              <td><h3>File 2</h3></td>
              <td ></td>
            </tr>
            <tr>
              <td  class="tdlabel">
                    <input type="radio" name="filemode2" 
                        value="file_known2" checked />
                    Known:
              </td>
              <td >
                <input type='text' name='file_known2' size="32" value="{{file_known2}}"
                          onchange="crds.set_radio('filemode2', 'file_known2');">
              </td>
            </tr>
            <tr>
              <td  class="tdlabel">
                    <input type="radio" name="filemode2" 
                        value="file_uploaded2" />
                    Uploaded:
                </td>
              <td >
                <input type='file' name='file_uploaded2' maxlength="1" size="32"
                        onchange="crds.set_radio('filemode2', 'file_uploaded2');">
              </td>
            </tr>
          </table>
          <p></p>
          <input class="btn btn-primary" type="submit" value="Difference Files">
        </form>
    </div>
    
    <div class="col-md-4">
        <p><b>Difference Files</b> compares mapping or reference files to one another
        using CRDS comparison tools,  currently "diff" and "fitsdiff" respectively.

        <p><p> NOTE: File differencing is also available in the Context History and 
        Browse Database open services.   Those may be more convenient for diffing 
        files which are already in CRDS (known files).
    </div>

</div>


{% endblock contents_both %}

{% block help %}
{% endblock help %}

