{% extends "base.html" %}

{% load stdtags %}

{% block contents %}

    <h2>Operational Context History</h2>

    <form onsubmit='return crds.diff_selected_contexts();' method="get" enctype="multipart/form-data" action="/difference/">
        <input type="hidden" name="file1" />
        <input type="hidden" name="file2" />
        <table border="1">
            <tr>
                <th width="10%" align="center">start date</th>
                <th width="10%" align="center">context</th>
                <th width="50%" align="center">description</th>
                <th width="5%" align="center"><input type='submit' value="diff" /></th>
            </tr>
            {% for hist in history %}
                <tr>
                    <td align="center">{{hist.start_date|seconds}}</td>
                    <td align="center"><a href="/context_table/{{hist.context}}">{{hist.context}}</a></span></td>
                    <td align="left">{{hist.description}}</td>
                    <td align="center"><input type="checkbox" name="diff_context" value="{{hist.context}}" /></td>
                </tr>
            {% endfor %}
            
        </table>
    </form>
    
    <script type="text/javascript">
        $(function() {
            $("input[type=submit]").css({"font-weight":"bold"});
            crds.diff_selected_contexts = function () {
                selected = $("input:checked");
                if (selected.length != 2) {
                    alert("Select exactly two contexts to difference.");
                    return false;
                }
                files = [ selected[0].value, selected[1].value]
                files.sort();
                $("input[name=file1]").val(files[0]);
                $("input[name=file2]").val(files[1]);
                crds.set_info_box({
                    text: "Differencing contexts...",
                     css: {color: "green"},
                });
                return true;
            };
        });
    </script>

{% endblock contents %}
