{% extends "base.html" %}

{% load stdtags %}

{% block contents %}

    <div class="body_panel">
        <br/>
        <h2>All Contexts</h2>

{% if include_diff %}
    {% include "diff_col_header.html" %}
{% endif %}

<div id="all_contexts" style="background-color: #EEEEEE;">
    <table border="1" width="100%" class="ctx">
        <thead class="ctx">
            <tr class="ctx">
                <th width="10%" class="center bold tdlabel ctx">Delivery Date</th>
                <th width="10%" class="center bold tdlabel ctx">Context</th>
                <th width="10%" class="center bold tdlabel ctx">Status</th>
                <th width="50%" class="center bold tdlabel ctx">Description</th>
                {%if include_diff %}
                    <th width="5%" class="center bold tdlabel ctx"><input type='submit' id="diff_button" value="diff" /></th>
                {% endif %}
            </tr>
        </thead>
        <tbody class="ctx">
        {% for context in context_blobs %}
            <tr class="ctx">
                <td class="center ctx">{{context.1.delivery_date|days}}</td>
                <td class="center ctx">{{context.0|context_table}}</td>
                <td class="center ctx {{hist.1.status_class}}">{{context.1.status}}</td>
                <td class="left ctx">{{context.1.description}}</td>
                {% if include_diff %}
                    <td class="center ctx">
                        <input type="checkbox" name="diff_file" value="{{context.0}}" />
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% if include_diff %}
    {% include "diff_col_trailer.html" %}
{% endif %}


        <br/>
    </div>
{% endblock contents %}
