{% extends "base.html" %}

{% load stdtags %}

{% block head_additions %}

{% include "jsonrpc.html" %}

<script type="text/javascript">  

$ = jQuery;

$( function () {
    
    console.log("initing.")
    
    var add_count = 0;    
    var del_count = 0;
    
    var OBSERVATORY = "{{ observatory }}";
    
    // notify_err is used to output error status for input validation.
    // it assumes that `input` is encapsulated in a <p> element to which
    // an error message span can be appended.
    notify_err = function (input, msg) {
        // alert(msg);
        // $("div.error").html("<p>" + msg + "</p>");
        var p = input.parent();
        p.find("span.error").remove();
        console.log("ERROR: ", msg);
        p.append("<span class='error'>&nbsp;&nbsp;&nbsp;&nbsp;" + msg + "</span>");
        INVALID_INPUTS[input.attr("name")] = msg;
        input.css("color", "red");
        return false;
    }
    
    cancel_err = function(input) {
        input.parent().find("span.error").remove();
        delete INVALID_INPUTS[input.attr("name")];
        delete INVALID_INPUTS[undefined];
        delete INVALID_INPUTS[""];
        input.css("color", "green");
        $("#submit_button")
            .css("color","black")
            .parent().find("span.error").remove();
        return false;
    }

    parse_useafter = function (p) {
        if (!(p.hasClass("useafter") || p.hasClass("dynamic"))) {
            return undefined;
        }
        var match_tuple = p.parent().children().html().split(":")[0];
        match_tuple = match_tuple.slice(match_tuple.indexOf("("), match_tuple.length);
        match_tuple = $.trim(match_tuple);
        if (p.hasClass("dynamic")) {
            var filename = p.find("input[name$=filename]").val();
            var date = p.find("input[name$=date]").val();
        } else {
            var filename = p.find("span.filename").text().slice(1,-1);
            var date = p.find("span.datetime").text().slice(1, -1);
        }
        console.log("match tuple: " + match_tuple + 
                    " useafter: " + date + 
                    " filename: " + filename);
        return {
            match_tuple: match_tuple,
            date: date,
            filename: filename,
        }
    }
    
    mk_input = function (type, name, value) {
        var hidden = '<input type="' + type + '" name="' +
                       name + '" value="' + value +'">\n'
        return hidden
    }
    
    mk_select = function (name, values) {
        var select = '<select name="' + name + '">\n';
        for (var opt in values) {
            select += "<option>" + values[opt] + "</option>\n";
        }
        select += "</select>\n";
        return select
    }
    
    nbsp = function (count) {
        var html = "";
        while(count--) {
            html += "&nbsp;";
        }
        return html + "\n";
    }
    
    divider = function (count) {
        return "<span style='text-decoration: line-through'>" + nbsp(count) +
               "</span><br/>";
    }
    
    // click: Called to insert a bundle of inputs after the button's paragraph to
    // handle adding an extra useafter line.   Schedules an addition.
    add_useafter = function (event, is_replacement) {
        console.log("add_useafter");
        
        var button = $(event.target);
        var parsing = parse_useafter(button.parent())
        var name_prefix = "add." + add_count++;
        
        var INDENT=12;
        var input_bundle = "<p class='dynamic'>";
        if (button.parent().hasClass("dynamic")) {
            input_bundle += nbsp(INDENT) + divider(50);
        }
        input_bundle += nbsp(INDENT); 
        if (!is_replacement) {  // date is a text input, have delete
            input_bundle += 
                mk_input("text", name_prefix + ".date", '') + " : " +
                mk_input("file", name_prefix + ".filename", '') + 
                mk_input("hidden", name_prefix + ".match_tuple", parsing.match_tuple);
            // input_bundle += "<br/>" + nbsp(INDENT);
            input_bundle += "<label>Change Level:</label>" + 
                mk_select(name_prefix + ".change_level", ["SEVERE","MEDIUM", "TRIVIAL"]);
            input_bundle += nbsp(1) + 
                "<button class='add' type='button'>+</button>\n" + 
                "<button class='del' type='button'>delete</button>\n";
           INVALID_INPUTS[name_prefix + ".date"] = "empty";
        } else {   // date is fixed for replacements, unvalidated. replacements have no delete.
            input_bundle += 
                mk_input("hidden", name_prefix + ".date", parsing.date) + 
                mk_input("hidden", name_prefix + ".match_tuple", parsing.match_tuple);
            input_bundle +=
                "<span class='datetime'>'" + parsing.date + "'</span> : " + 
                mk_input("file", name_prefix + ".filename", '');
            input_bundle += "<label>Change Level:</label>" + 
                mk_select(name_prefix + ".change_level", ["SEVERE","MEDIUM", "TRIVIAL"]);
            input_bundle += nbsp(1) + 
                "<button class='add' type='button'>+</button>";
        }
        input_bundle += "</p>";

        console.log(input_bundle);        

        input_bundle = $(input_bundle);

        if (!is_replacement) {
           $("input[name$=date]", input_bundle).change(validate_useafter);
        }
                 
        $("button[class=add]", input_bundle).click(add_useafter);
        $("button[class=del]", input_bundle).click(del_useafter_dynamic);
        $("input[name$=filename]", input_bundle).change(validate_filename);
        	
       INVALID_INPUTS[name_prefix + ".filename"] = "empty";
        	
        button.parent().after(input_bundle);
    }
    
    // click: Called to cross off a useafter in the original rmap and schedule deletion.
    del_useafter_static = function(event) {
        console.log("del_useafter");

        var button = $(event.target);
        button.parent().find("span.datetime, span.filename")
            .css("text-decoration", "line-through")
            .css("color", "red");

        var parsing = parse_useafter(button.parent())
        var name_prefix = "delete." + del_count++;
        var p = button.parent();
        
        $("<div class='dynamic' style='display:none'>" + 
          mk_input("hidden", name_prefix + ".match_tuple", parsing.match_tuple) + 
          mk_input("hidden", name_prefix + ".date", parsing.date) +
          mk_input("hidden", name_prefix + ".filename", parsing.filename) +
          "</div>")
          .appendTo(p);

        button.remove();
        
        $("button[class=add]", p)
            .unbind("click")
            .html("unreplace")
            .click(unreplace_useafter);
    }
    
    // click:  Called to strike out a line and add a new one.
    replace_useafter = function (event) {
        // Add the inputs for the replacement line,  and + button.
        add_useafter(event, true);
        // Strike out the original line and add hidden inputs.
        del_useafter_static(event)
    }
        
    // click: Called to remove an added useafter line.
    del_useafter_dynamic = function(event) {
        if (!confirm("Delete this added useafter?")) {
            return true;
        }
        var button = $(event.target);
        console.log("del_useafter_dynamic", button);
        del_add_bundle(button.parent());
    }
    
    // internal: Called to remove an added line containing inputs and buttons.
    del_add_bundle = function(bundle) {
        console.log("del_add_bundle", $(bundle));
        var inputs = bundle.find("input[name^=add]");
        inputs.each( function () {
            var name = $(this).attr("name");
            console.log("deleting ", name);
            delete INVALID_INPUTS[name];
        });
        bundle.remove();
    }
    
    // click: Called to reinstate a useafter line crossed-out of the original.
    undel_useafter = function(event) {
        console.log("undel_useafter");
        var button = $(event.target);
        var p = button.parent();
        p.find("span")
            .css("text-decoration", "none")
            .css("color", "grey");
        p.find("div").remove();     // the hidden input bundle
        p.find("span.spacing").remove();
        p.find("button").remove();  // the +- appended to the useafter p
    }
    
    // click: Called to reinstate a replaced line,  marking unchanged, removing add.
    unreplace_useafter = function (event) {
        if (!confirm("Reinstate this useafter and delete added line?")) {
            return true;
        }
        var bundle = $(event.target).parent().next();
        del_add_bundle(bundle);
        undel_useafter(event);
    }

    // Use the form click handler to toggle +- buttons on useafter lines only.
    // This is a performance / transparency compromise since adding buttons 
    // and/or inputs to all lines of large rmaps is too slow.   Pass on events
    // which occur in the + inputs.
 
    $("form#update_rmap_form").click( function (event) {
        var target = $(event.target);
        console.log("update rmap form ", $(event), target);
        var p = target.parent();
        var div = p.parent();
        
        // Clicking on an input or button should not toggle the button.
        nodename = target[0].nodeName;
        if (nodename in {"INPUT":1,"BUTTON":1,"SELECT":1,"OPTION":1, "TEXTAREA":1}) {
            if (!(target[0].nodeValue in {"+":1, "replace":1, "unreplace":1, "delete":1})) {
                console.log("exiting on input or button.");
                return true;
            }
            if (target.attr("type") == "submit") {
                return true;
            }
            console.log("update_rmap_form skipping input");
            return false;
        }
        
        // Skip over clicks which don't correspond to useafter lines.
        if (!p.length || p[0].nodeName != "P") {
            console.log("non-P parent");
            return true;
        }
        if (!div.length || div[0].nodeName != "DIV") {
            console.log("DIV not found");
            return true;
        }
        if (!div.hasClass("match")) {
            console.log("match not found");
            return true;
        }
        
        // toggle +- buttons on edit line
        if (p.find("button").length) {
            $(".spacing",p).remove(); 
            $("button",p).remove()
        } else {
            $("<span class='spacing'>" + nbsp(33) + "</span>").appendTo(p);
            $("<button class='add' type='button'>+</button>")
                .click(add_useafter)
                .bind("keypress", add_useafter_keypress)
                .appendTo(p);
            if (!p.hasClass("match")) {  // no - button on UseAfter line
                $("<button class='del' type='button'>replace</button>")
                    .click(replace_useafter)
                    .appendTo(p);
            }
        }
    });
    
    add_useafter_keypress = function ( event ) {
        console.log("add_useafter_keypress");
    }
    
    assert = function (exp, message) {
        if (!exp) {
            throw message;
        }
    }

    assert_range = function (name, value, min, max) {
        assert( (value) >= min && (value <= max), 
                "Invalid " + name + " = " + value + 
                " must be in range " + min + " .. " + max + ".");
    }

    DATETIME_RE = /^\d\d\d\d-\d\d-\d\d \d\d:\d\d:\d\d$/;

    check_datetime = function (datetime) {
        try {
            assert(DATETIME_RE.test(datetime), 
                "datetime must match general format  yyyy-mm-dd hh:mm:ss");

            var parts = datetime.split(" ");
 
            var date = parts[0].split("-")
            var year = date[0];
            var month = date[1];
            var day = date[2];
            
            var hms = parts[1].split(":");
            var hours = hms[0];
            var minutes = hms[1];
            var seconds = hms[2];

            assert_range("year", year, "1990", "2050");
            assert_range("month", month, "01", "12");
            assert_range("day", day, "01", "31");
            
            assert_range("hours", hours, "00", "23");
            assert_range("minutes", minutes, "00", "59");
            assert_range("seconds", seconds, "00", "59");

            return ""
        } catch (err) {
            return err
        }
    }
    
    validate_useafter = function (event) {
        console.log("validate_useafter");
        var input = $(event.target);
        input.val($.trim(input.val()));
        var input_name = input.attr("name");
        var datetime = input.val();
        if (!datetime.length) {
            console.log("empty datetime");
            return false;   // allow empty date for now.
        }
        var err = check_datetime(datetime);
        if (err) {
            return fail_useafter(input, err);
        }
        var p = input.parent();
        var prev = p.prev();
        console.log(prev);
        var parsing = parse_useafter(prev);
        if (parsing) {
            console.log("prev_date", parsing.date);
            if (parsing.date >= datetime) {
                return notify_err(input, "New date must be > preceding date.");
            } 
        }
        var next = p.next();
        parsing = parse_useafter(next);
        if (parsing) {
            console.log("next_date", parsing.date);
            if (parsing.date <= datetime) {
                return notify_err(input, "New date must be < following date.");
            } 
        }
        return cancel_err(input);
    }

    validate_filename = function (event) {
        var input = $(event.target);
        var filename = input.val();
        var input_name = input.attr("name");
        console.log("validate_filename ", input_name, " ", filename);
        if (!filename.length) {
            console.log("ignoring empty filename");
            return false;
        }
        try {
	    
            assert(/^[a-zA-Z0-9_\/:\\.]+$/.test(filename), "Invalid filename '" + filename + "'");
            return cancel_err(input);
        } catch (err) {
            return notify_err(input, err);
        }
    }
    
    $("#update_rmap_form").submit( function (event) {
        console.log("form submit", $(event.target));
        if (confirm("Submit edits to generate new rmap?")) {
            console.log("submit confirmed");
            if (validate_all_inputs()) {
                console.log("form validated.");
                // $("form")[0].submit();
                return true;
            }
            console.log("form validation failed.");
            return false;
        }
        console.log("submit cancelled.");
        return false;
    });
    
    INVALID_INPUTS = { }    
   
    non_empty_sane = function (name) {
        var func = function(event) {
            console.log("validating ", name);
            var input = $(event.target);
            if (/^[A-Za-z0-9. _@\-,']+$/.test(input.val())) {
                cancel_err(input);
            } else {
                notify_err(input, "invalid " + name);
            }
        }
        return func;
    }
    
    validate_creator = non_empty_sane("creator");
    validate_description = non_empty_sane("description");

    $("#description").change(validate_description).change();

    validate_all_inputs = function () {
        actions = $("p.dynamic, div.dynamic");
        console.log("validate all inputs", actions);
        var input = $("#submit_button");
        cancel_err(input);
        if (actions.length == 0) {
            return notify_err(input, "No edits have been recorded.");
        }
        // check for invalid or empty inputs.
        if (Object.keys(INVALID_INPUTS).length) {
            return notify_err(input, "Some inputs are either empty or invalid (marked red).");
        }
        return true;
    }
        
    $("select[name='pmap'] option")
        .removeAttr("selected")
        .first().attr("selected","selected");
    
    console.log("ready.")
});

</script>
{% endblock head_additions %}

{% block contents %}

<h2>Editing Rmap <a href='{{browsed_file|download_url}}'>{{browsed_file|grey}}</a>
</h2> 

        <form action="/edit_rmap/" method="post" id="update_rmap_form" enctype="multipart/form-data">
        
            <h3>Old Context to Derive From</h3>
            {% include "select_pmap.html" %}

            <h3>New Rmap Description</h3>
            <p>
                <textarea name="description" id="description" rows="4" cols="50"></textarea>   
            </p>
            
            <h3>Edit Rmap</h3>
            <p class="grey">
                Click on a useafter date to edit the rmap at that location.
            </p>
            <br/>    

            <input type='hidden' name='browsed_file' value='{{browsed_file}}' />
     
            <div class='program' id="file_contents">
            {{ file_contents|safe }}
            </div>
            
            <br/>
            <p>
                <input type='submit' id="submit_button" value='Submit Rmap Update' />
            </p> 
        </form>
        
        <br/><br/>

{% endblock contents %}
