{% extends "base.html" %}

{% load stdtags %}

{% block head_additions %}

{% include "jsonrpc.html" %}

<script type="text/javascript">  

$ = jQuery;

$( function () {
    
    console.log("initing.")
    
    var add_count = 0;    
    var del_count = 0;
    
    var OBSERVATORY = "{{ observatory }}";

    parse_useafter = function (button) {
        var match_tuple = button.parent().parent().children().html().split(":")[0];
        match_tuple = match_tuple.slice(match_tuple.indexOf("("), match_tuple.length);
        match_tuple = $.trim(match_tuple);
        var filename = button.parent().find("span.filename").text().slice(1,-1);
        var date = button.parent().find("span.datetime").text().slice(1, -1);
        console.log("match tuple: " + match_tuple + 
                    " useafter: " + date + 
                    " filename: " + filename);
        return {
            match_tuple: match_tuple,
            date: date,
            filename: filename,
        }
    }
    
    mk_input = function (type, name, value) {
        var hidden = '<input type="' + type + '" name="' +
                       name + '" value="' + value +'">'
        console.log(hidden)
        return hidden
    }
    
    add_useafter = function (event) {
        console.log("add_useafter");
        
        var button = $(event.target);
        var match_tuple = parse_useafter(button).match_tuple;
        var name_prefix = "add." + add_count++;
        
        var input_bundle = $(
            "<p class='dynamic'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" +
            mk_input("text", name_prefix + ".date", '') + " : " +
            mk_input("text", name_prefix + ".filename", '') + 
            mk_input("hidden", name_prefix + ".match_tuple", match_tuple) +    
            "<button class='add' type='button'>+</button>" + 
            "<button class='del' type='button'>-</button>" + 
            "</p>"
        );
                 
        $("button[class=add]", input_bundle).click(add_useafter);
        $("button[class=del]", input_bundle).click(del_useafter_dynamic);
        
        $("input[name$=date]", input_bundle)
        	.change(validate_useafter);
        $("input[name$=filename]", input_bundle)
        	.change(validate_filename);
        
        button.parent().after(input_bundle);
    }
    
    del_useafter_static = function(event) {
        console.log("del_useafter");

        var button = $(event.target);
        button.parent().find("span")
            .css("text-decoration", "line-through")
            .css("color", "red");

        var parsing = parse_useafter(button)
        var name_prefix = "delete." + del_count++;
        var p = button.parent();
        
        $("<div class='dynamic' style='display:none'>" + 
          mk_input("hidden", name_prefix + ".match_tuple", parsing.match_tuple) + 
          mk_input("hidden", name_prefix + ".date", parsing.date) +
          mk_input("hidden", name_prefix + ".filename", parsing.filename) +
          "</div>")
          .appendTo(p);

        button.remove();
        
        $("button[class=add]", p)
            .unbind("click")
            .click(undel_useafter);
    }
    
    del_useafter_dynamic = function(event) {
        console.log("del_useafter_dynamic");
        var button = $(event.target);
        button.parent().remove();
    }
    
    undel_useafter = function(event) {
        console.log("undel_useafter");
        var button = $(event.target);
        button.parent().find("span")
            .css("text-decoration", "none")
            .css("color", "grey");
        var p = button.parent();
        $("input[name^=delete]", p).remove();
        button.remove();
        $("<button class='add' type='button'>+</button>")
            .appendTo(p)
            .click(add_useafter)
        $("<button class='del' type='button'>-</button>")
            .appendTo(p)
            .click(del_useafter_static)
    }

    unedit_button = $("input#unedit_rmap")
        .click( function (event) {
            console.log("unedit_rmap");
            $(".dynamic").remove();
            $("button.add").remove();
            $("button.del").remove();
            $("a[href*='browse']")
                .css("text-decoration","none")
                .css("color","blue");
        })
        .hide();

    /* Use the form click handler to handle events anywhere in the form. Only
    process clicks which are in a useafter line and not on a file link.  Add
    or remove buttons on click.
    */
    $("form#update_rmap_form").click( function (event) {
        var target = $(event.target);
        console.log("update rmap form ", $(event), target);
        var p = target.parent();
        var div = p.parent();
        
        if (target[0].nodeName == "INPUT" || target[0].nodeName == "BUTTON") {
            if (target.attr("type") != "submit") {
                console.log("update_rmap_form skipping input");
                $("body").click();
                return false;
            }
            return true;
        }

        if (!target.length || target[0].nodeName == "A") {
            console.log("skipping browse link");
            return true;
        }
        if (!p.length || p[0].nodeName != "P") {
            console.log("non-P parent");
            return true;
        }
        if (!div.length || div[0].nodeName != "DIV") {
            console.log("DIV not found");
            return true;
        }
        if (!div.hasClass("match")) {
            console.log("match not found");
            return true;
        }
        
        // toggle +- buttons on edit line
        if (p.find("button").length) {   
            $("button",p).remove()
        } else {
            $("<span>   </span>").appendTo(p);
            $("<button class='add' type='button'>+</button>")
                .click(add_useafter)
                .bind("keypress", add_useafter_keypress)
                .appendTo(p);
            if (!p.hasClass("match")) {  // no - button on UseAfter line
                $("<button class='del' type='button'>-</button>")
                    .click(del_useafter_static)
                    .appendTo(p);
            }
        }
    });
    
    add_useafter_keypress = function ( event ) {
        console.log("add_useafter_keypress");
    }
    
    assert = function (exp, message) {
        if (!exp) {
            throw message;
        }
    }

    assert_range = function (name, value, min, max) {
        assert( (value) >= min && (value <= max), 
                "Invalid " + name + " = " + value + 
                " must be in range " + min + " .. " + max + ".");
    }

    DATETIME_RE = /^\d\d\d\d-\d\d-\d\d \d\d:\d\d:\d\d$/;

    check_datetime = function (datetime) {
        try {
            assert(DATETIME_RE.test(datetime), 
                "datetime must match general format  yyyy-mm-dd hh:mm:ss");

            var parts = datetime.split(" ");
 
            var date = parts[0].split("-")
            var year = date[0];
            var month = date[1];
            var day = date[2];
            
            var hms = parts[1].split(":");
            var hours = hms[0];
            var minutes = hms[1];
            var seconds = hms[2];

            assert_range("year", year, "1990", "2050");
            assert_range("month", month, "01", "12");
            assert_range("day", day, "01", "31");
            
            assert_range("hours", hours, "00", "23");
            assert_range("minutes", minutes, "00", "59");
            assert_range("seconds", seconds, "00", "59");

            return [true, "datetime is valid."]
        } catch (err) {
            return [false, err];
        }
    }
    
    validate_useafter = function (event) {
        console.log("validate_useafter");
        var input = $(event.target);
    
        input.val($.trim(input.val()));

        var datetime = input.val();
        if (!datetime.length) {
            console.log("empty datetime");
            return false;
        }
        var results = check_datetime(datetime);
        if (results[0]) {
            console.log("date ok");
            $(input).css("color", "green");
        } else {
            console.log("date bad: ", results[1]);
            alert(results[1]);
            $(input).css("color", "red");
        }
        return false;
    }

    validate_filename = function (event) {
        var input = $(event.target);
        input.val($.trim(input.val()));
        var filename = input.val();

        console.log("validate_filename ", filename);

        if (!filename.length) {
            console.log("ignoring empty filename");
            return false;
        }

        try {
            $(input).css("color", "black");
            assert(/^[a-zA-z][a-zA-Z0-9_]*[.][A-Za-z0-9_]+$/.test(filename),
                "Invalid filename = " + filename + " must consist of a name and " + 
                "extension,  separated by a period, with no path.   The name " +
                "and extension must consist of letters, digits, and underscores only.");
            
        } catch (err) {
            console.log("bad reference: ",  err);
            alert(err);
            $(input).css("color", "red");
        }

        deferred = jsonrpc.file_exists(filename);
        deferred.addCallback( function (req) {
            console.log("validate_filename callback ", req.result);
            if (req.result) {
                console.log("validate_filename ok");
                $(input).css("color", "green");
            } else {
                console.log("validate_filename can't find");
                $(input).css("color", "red");
                alert("CRDS can't find reference " + filename);
            }
        });
        deferred.addErrback( function (req) {
            console.log("validate_filename errback ", req.result);
            $(input).css("color", "orange");
            console.log("file existence unknown");
        });

        return false;
    }
    
    $("#update_rmap_form").submit( function (event) {
        console.log("form submit", $(event.target));
        return false;
    });
    
    $("#submit_button").click( function (event) {
        console.log("submit button ", $(event.target));
        $("form")[0].submit();
        return true;
    });
    
    $("form *").keypress(function(e) {
        if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {
            console.log("enter ", $(e));
            return false;
            $(this).parents("form").find("[type=submit]").eq(0)
                .focusin()
                .click();
        }
        console.log("keypress ", $(e));
        return true;
    });

    console.log("ready.")
});

</script>
{% endblock head_additions %}

{% block contents %}

<h2>Edit Rmap <a href='{{browsed_file|download_url:"hst"}}'>{{browsed_file|grey}}</a>
</h2> 

    <p class="grey">Click on a useafter date to edit the rmap at that location.</p>
    <br/>
    
    <div class='program' id="file_contents">
    
        <form action="/edit_rmap/" method="post" id="update_rmap_form"enctype="multipart/form-data">  
            
            <input type='hidden' name='browsed_file' value='{{browsed_file}}' />
     
            {{ file_contents|safe }}
            
            <br/>
            <p>
                <input type='submit' id="submit_button" value='Submit Rmap Update' />
                <button type='button' id='unedit_rmap'>Forget Edits</button>
            </p> 
        </form>
        
        <br/><br/>
    </div>

{% endblock contents %}
