{% extends "base.html" %}

{% block column1 %}

<form action="/edit_rmap_browse/" method="post""> {% csrf_token %}
    <h2>Edit Rmaps</h2>
    <h3>Filters</h3>
    <table>
    
        {% include "browse_options.html" %}

        <input type="hidden" name="extension" value=".rmap">

    </table>
    <input type="submit" value="Find Rmaps" />
</form>

{% endblock column1 %}

{% block help %}

<p><b>Edit Rmaps</b> Searches the CRDS database for rmaps matching the
criteria you specify.   The following steps in the workflow let you
choose one rmap from among the rmaps you list here, and edit it creating
a new rmap.
    
{% endblock help %}

