{% extends "base.html" %}

{% load stdtags %}

{% block head_additions %}

{% include "jsonrpc.html" %}

<script type="text/javascript">  

$ = jQuery;

$( function () {
    
    console.log("initing.")
    
    var add_count = 0;    
    var del_count = 0;
    
    var OBSERVATORY = "{{ observatory }}";

    parse_useafter = function (button) {
        var match_tuple = button.parent().parent().children().html().split(":")[0];
        match_tuple = match_tuple.slice(match_tuple.indexOf("("), match_tuple.length);
        match_tuple = $.trim(match_tuple);
        var filename = button.parent().find("span.filename").text().slice(1,-1);
        var date = button.parent().find("span.datetime").text().slice(1, -1);
        console.log("match tuple: " + match_tuple + 
                    " useafter: " + date + 
                    " filename: " + filename);
        return {
            match_tuple: match_tuple,
            date: date,
            filename: filename,
        }
    }
    
    mk_input = function (type, name, value) {
        var hidden = '<input type="' + type + '" name="' +
                       name + '" value="' + value +'">'
        console.log(hidden)
        return hidden
    }
    
    // click: Called to insert a bundle of inputs after the button's paragraph to
    // handle adding an extra useafter line.   Schedules an addition.
    add_useafter = function (event, omit_delete_button) {
        console.log("add_useafter");
        
        var button = $(event.target);
        var match_tuple = parse_useafter(button).match_tuple;
        var name_prefix = "add." + add_count++;
        
        var input_bundle = "<p class='dynamic'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" +
            mk_input("text", name_prefix + ".date", '') + " : " +
            mk_input("file", name_prefix + ".filename", '') + 
            mk_input("hidden", name_prefix + ".match_tuple", match_tuple) +
            "<button class='add' type='button'>+</button>";
            
        if (omit_delete_button === undefined) {
            input_bundle += "<button class='del' type='button'>delete</button>";
        }
        input_bundle += "</p>";
        
        input_bundle = $(input_bundle);
                 
        $("button[class=add]", input_bundle).click(add_useafter);
        $("button[class=del]", input_bundle).click(del_useafter_dynamic);
        
        $("input[name$=date]", input_bundle).change(validate_useafter);
        // $("input[name$=filename]", input_bundle).change(validate_filename);
        	
       INVALID_ADDS[name_prefix + ".date"] = true
       // INVALID_ADDS[name_prefix + ".filename"] = true
        	
        button.parent().after(input_bundle);
    }
    
    // click: Called to cross off a useafter in the original rmap and schedule deletion.
    del_useafter_static = function(event) {
        console.log("del_useafter");

        var button = $(event.target);
        button.parent().find("span")
            .css("text-decoration", "line-through")
            .css("color", "red");

        var parsing = parse_useafter(button)
        var name_prefix = "delete." + del_count++;
        var p = button.parent();
        
        $("<div class='dynamic' style='display:none'>" + 
          mk_input("hidden", name_prefix + ".match_tuple", parsing.match_tuple) + 
          mk_input("hidden", name_prefix + ".date", parsing.date) +
          mk_input("hidden", name_prefix + ".filename", parsing.filename) +
          "</div>")
          .appendTo(p);

        button.remove();
        
        $("button[class=add]", p)
            .unbind("click")
            .html("unreplace")
            .click(unreplace_useafter);
    }
    
    // click:  Called to strike out a line and add a new one.
    replace_useafter = function (event) {
        // Add the inputs for the replacement line,  and + button.
       add_useafter(event, true);
        
        // Copy the useafter date from the replaced line to the replacement line.
        button = $(event.target);
        parsing = parse_useafter(button);
        p = button.parent().next();
        p.find("input[name$=date]").val(parsing.date).change(); // force validate
        
        // Strike out the original line and add hidden inputs.
        del_useafter_static(event)
    }
        
    // click: Called to remove an added useafter line.
    del_useafter_dynamic = function(event) {
        if (!confirm("Delete this added useafter?")) {
            return true;
        }
        var button = $(event.target);
        console.log("del_useafter_dynamic", $(button));
        var bundle = button.parent();
        del_add_bundle(bundle);
    }
    
    // internal: Called to remove an added line containing inputs and buttons.
    del_add_bundle = function(bundle) {
        console.log("del_add_bundle", $(bundle));
        inputs = bundle.find("input[name^=add]");
        console.log("deleting ", inputs);
        name1 = $(inputs[0]).attr("name");
        delete INVALID_ADDS[name1];
        name2 = $(inputs[1]).attr("name");
        delete INVALID_ADDS[name2];
        console.log(name1, " ", name2);
        bundle.remove();
    }
    
    // click: Called to reinstate a useafter line crossed-out of the original.
    undel_useafter = function(event) {
        console.log("undel_useafter");
        var button = $(event.target);
        var p = button.parent();
        p.find("span")
            .css("text-decoration", "none")
            .css("color", "grey");
        p.find("div").remove();     // the hidden input bundle
        p.find("button").remove();  // the +- appended to the useafter p
    }
    
    // click: Called to reinstate a replaced line,  marking unchanged, removing add.
    unreplace_useafter = function (event) {
        if (!confirm("Reinstate this useafter and delete added line?")) {
            return true;
        }
        var bundle = $(event.target).parent().next();
        del_add_bundle(bundle);
        undel_useafter(event);
    }

    // Use the form click handler to toggle +- buttons on useafter lines only.
    // This is a performance / transparency compromise since adding buttons 
    // and/or inputs to all lines of large rmaps is too slow.   Pass on events
    // which occur in the + inputs.
 
    $("form#update_rmap_form").click( function (event) {
        var target = $(event.target);
        console.log("update rmap form ", $(event), target);
        var p = target.parent();
        var div = p.parent();
        
        // Clicking on an input or button should not toggle the button.
        if (target[0].nodeName == "INPUT" || target[0].nodeName == "BUTTON") {
            if (!(target[0].nodeValue in {"+":1, "replace":1, "unreplace":1, "delete":1})) {
                console.log("exiting on input or button.");
                return true;
            }
            if (target.attr("type") == "submit") {
                return true;
            }
            console.log("update_rmap_form skipping input");
            return false;
        }
        
        // Skip over clicks which don't correspond to useafter lines.
        if (!p.length || p[0].nodeName != "P") {
            console.log("non-P parent");
            return true;
        }
        if (!div.length || div[0].nodeName != "DIV") {
            console.log("DIV not found");
            return true;
        }
        if (!div.hasClass("match")) {
            console.log("match not found");
            return true;
        }
        
        // toggle +- buttons on edit line
        if (p.find("button").length) {   
            $("button",p).remove()
        } else {
            $("<span>   </span>").appendTo(p);
            $("<button class='add' type='button'>+</button>")
                .click(add_useafter)
                .bind("keypress", add_useafter_keypress)
                .appendTo(p);
            if (!p.hasClass("match")) {  // no - button on UseAfter line
                $("<button class='del' type='button'>replace</button>")
                    .click(replace_useafter)
                    .appendTo(p);
            }
        }
    });
    
    add_useafter_keypress = function ( event ) {
        console.log("add_useafter_keypress");
    }
    
    assert = function (exp, message) {
        if (!exp) {
            throw message;
        }
    }

    assert_range = function (name, value, min, max) {
        assert( (value) >= min && (value <= max), 
                "Invalid " + name + " = " + value + 
                " must be in range " + min + " .. " + max + ".");
    }

    DATETIME_RE = /^\d\d\d\d-\d\d-\d\d \d\d:\d\d:\d\d$/;

    check_datetime = function (datetime) {
        try {
            assert(DATETIME_RE.test(datetime), 
                "datetime must match general format  yyyy-mm-dd hh:mm:ss");

            var parts = datetime.split(" ");
 
            var date = parts[0].split("-")
            var year = date[0];
            var month = date[1];
            var day = date[2];
            
            var hms = parts[1].split(":");
            var hours = hms[0];
            var minutes = hms[1];
            var seconds = hms[2];

            assert_range("year", year, "1990", "2050");
            assert_range("month", month, "01", "12");
            assert_range("day", day, "01", "31");
            
            assert_range("hours", hours, "00", "23");
            assert_range("minutes", minutes, "00", "59");
            assert_range("seconds", seconds, "00", "59");

            return [true, "datetime is valid."]
        } catch (err) {
            return [false, err];
        }
    }
    
    validate_useafter = function (event) {
        console.log("validate_useafter");
        var input = $(event.target);
        input.val($.trim(input.val()));
        var input_name = input.attr("name");
        var datetime = input.val();
        if (!datetime.length) {
            console.log("empty datetime");
            return false;
        }
        var results = check_datetime(datetime);
        if (results[0]) {
            console.log("date ok ", input_name);
            delete INVALID_ADDS[input_name];
            input.css("color", "green");
        } else {
            console.log("date bad: ", results[1]);
            alert(results[1]);
            INVALID_ADDS[input_name] = true;
            input.css("color", "red");
        }
        return false;
    }

    validate_filename = function (event) {
        var input = $(event.target);
        input.val($.trim(input.val()));
        var filename = input.val();

        input_name = input.attr("name");
        
        console.log("validate_filename ", filename);

        if (!filename.length) {
            console.log("ignoring empty filename");
            return false;
        }
        
        handle_bad = function (msg) { 
            var err = msg + ": " +  filename;
            console.log(err);
            alert(err);
            $(input).css("color", "red");
            INVALID_ADDS[input_name] = true;
            return false;
        }

        try {
            $(input).css("color", "black");
            assert(/^[a-zA-z][a-zA-Z0-9_]*[.][A-Za-z0-9_]+$/.test(filename),
                "Invalid filename = " + filename + " must consist of a name and " + 
                "extension,  separated by a period, with no path.   The name " +
                "and extension must consist of letters, digits, and underscores only.");
        } catch (err) {
            return handle_bad("Invalid filename format");            
        }

        deferred = jsonrpc.file_exists(filename);
        deferred.addCallback( function (req) {
            console.log("validate_filename callback ", req.result);
            if (req.result) {
                console.log("validate_filename ok ", input_name);
                $(input).css("color", "green");
                delete INVALID_ADDS[input_name];
            } else {
                return handle_bad("CRDS can't find");
            }
        });
        deferred.addErrback( function (req) {
            console.log("validate_filename errback file existence check failed", req.result);
            $(input).css("color", "orange");
            delete INVALID_ADDS[input_name];   //  Let the server figure it out.
        });

        return false;
    }
    
    $("#update_rmap_form").submit( function (event) {
        console.log("form submit", $(event.target));
        if (confirm("Submit edits to generate new rmap?")) {
            console.log("submit confirmed");
            if (validate_all_inputs()) {
                console.log("form validated.");
                $("form")[0].submit();
                return true;
            }
            console.log("form validation failed.");
            return false;
        }
        console.log("submit cancelled.");
        return false;
    });
    
    $("#submit_button").click( function (event) {
        console.log("submit button ", $(event.target));
        return true;
    });
    
    INVALID_ADDS = {}
    
    validate_all_inputs = function () {
        actions = $("p.dynamic, div.dynamic");
        console.log("validate all inputs", actions);
        
        if (actions.length == 0) {
            alert("No edits have been recorded. Submission cancelled.");
            return false;
        }
        
        // check for invalid or empty inputs.
        if (Object.keys(INVALID_ADDS).length) {
            alert("Some inputs are either empty or invalid.  Submission cancelled.");
            return false;
        }
        
        return true;
    }
    
    console.log("ready.")
});

</script>
{% endblock head_additions %}

{% block contents %}

<h2>Edit Rmap <a href='{{browsed_file|download_url:"hst"}}'>{{browsed_file|grey}}</a>
</h2> 

    <p class="grey">Click on a useafter date to edit the rmap at that location.</p>
    <br/>
    
    <div class='program' id="file_contents">
    
        <form action="/edit_rmap/" method="post" id="update_rmap_form" enctype="multipart/form-data">  
            
            <input type='hidden' name='browsed_file' value='{{browsed_file}}' />
     
            {{ file_contents|safe }}
            
            <br/>
            <p>
                <input type='submit' id="submit_button" value='Submit Rmap Update' />
            </p> 
        </form>
        
        <br/><br/>
    </div>

{% endblock contents %}
