      <tr>
            <td class="tdlabel" width="50%">Extension:</td>
            <td align="right">
                <select name="extension">
                {% for ext in extensions %}
                    {% if ext == extension %}
                        <option selected="selected">{{ext}}</option>
                    {% else %}
                        <option>{{ext}}</option>
                    {% endif %}
                {% endfor %}
                </select>
            </td>
      </tr>
