{% extends "base.html" %}

{% block column1 %}

<h2>List Patterns Matching Reference</h2>

<form method="post" action="/matches/" enctype="multipart/form-data"> 
  {% csrf_token %}
  <table width="100%">
    <tr>
        <td class="label" width="40%">Known Context:</td>
        <td align="left"><input type="text" name="known_context"/></td>
    </tr>
    <tr>
        <td class="label" width="40%">Matched Reference:</td>
        <td align="left"><input type="text" name="matched_reference"/></td>
    </tr>
    <tr><td><p/></td></tr>
    <tr><td><input type="submit" value="Submit" /></td></tr>
  </table>
</form>

{% endblock column1 %}

{% block help %}
{% endblock help %}