{% extends "base.html" %}

{% block column1 %}

<h2>List Patterns Matching File</h2>

<form method="post" action="/matches/" enctype="multipart/form-data"> 
  {% csrf_token %}
  <table width="100%">
    <tr>
        <td class="label" width="50%">Known Context:</td>
        <td align="right"><input type="text" name="known_context"/></td>
    </tr>
    <tr>
        <td class="label" width="50%">Matched File:</td>
        <td align="right"><input type="text" name="matched_file"/></td>
    </tr>
    <p></p>
    <tr><td><input type="submit" value="Submit" /></td></tr>
  </table>
</form>

{% endblock column1 %}
