{% extends "base.html" %}

{% block contents %}

{% if is_authenticated %}
    <h3>Open Services</h3>
{% else %}
    <h3>Services</h3>
{% endif %}
    <ol>
        <li><a href="/bestrefs/">Dataset Best References</a></li>
        <li><a href="/bestrefs_explore/">Explore Best References</a></li>
        <br/>
        <li><a href="/difference/">Difference Files</a></li>
        <br/>
        <li><a href="/browse_db/">Browse Database</a></li>
        <li><a href="/recent_activity/">Recent Activity</a></li>
    </ol>
    
{% if is_authenticated %}
    <h3>Restricted Services</h3>
    <ol>
        <li><a href="/edit_rmap_browse/">Edit Rmap</a></li>
        <br/>        
        <li><a href="/certify/">Certify File</a></li>
        <li><a href="/submit/reference/">Submit Reference</a></li>
        <li><a href="/submit/mapping/">Submit Mapping</a></li>
        <li><a href="/create_contexts/">Create Contexts</a></li>
        <br/>
        <li><a href="/delivery_options/">Deliver Files</a></li>
        <br/>
        <li><a href="/blacklist/">Blacklist File</a></li>
    </ol>
{% endif %}

{% endblock contents %}
