{% extends "base.html" %}

{% load stdtags %}

{% block contents %}

{% if is_authenticated %}
    <h3>Open Services</h3>
{% else %}
    <h3>Services</h3>
{% endif %}
    <ol>
        <li><a href="/bestrefs/">Dataset Best References</a> {% alpha %}</li>
        <li><a href="/bestrefs_explore/">Explore Best References</a> {% alpha %}</li>
        <br/>
        <li><a href="/difference/">Difference Files</a></li>
        <br/>
        <li><a href="/browse_db/">Browse Database</a></li>
        <li><a href="/recent_activity/">Recent Activity</a></li>
    </ol>
    
{% if is_authenticated %}
    <h3>Restricted Services</h3>
    <ol>
        <li><a href="/batch_submit_references/">Batch Submit References</a></li>
        <li><a href="/edit_rmap_browse/">Edit Rmap</a></li>
        <br/>        
        <li><a href="/certify/">Certify File</a></li>
        <li><a href="/submit/reference/">Submit References</a></li>
        <li><a href="/submit/mapping/">Submit Mappings</a></li>
        <li><a href="/create_contexts/">Create Contexts</a></li>
        <br/>
        <li><a href="/set_file_enable/">Set File Enable</a></li>
        {% if is_superuser %}
            <br/>
            <li><a href="/version_info/">Server Version Info</a></li>
            <li><a href="/set_default_context/">Set Default Context</a></li>
            <li><a href="/admin/">Admin</a></li>
        {% endif %}
    </ol>
{% endif %}

{% endblock contents %}
