{% extends "base.html" %}
{% load url from future %}

{% block column1 %}

<h2>Login</h2>

<form method="post" action="/login/"  onsubmit="crds.login_submit_action();" >
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td class="label">Work on Instrument</td> 
    <td> {% include "select_instrument.html" %} </td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<br/>
<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

<script>
    crds.login_submit_action = function () {
        crds.set_info_box({text: "Acquiring instrument lock.  This may take a few seconds...",  css: {color: "green"} });
        return true;
    }
</script>

{% endblock %}

{% block column2 %}
{% if form.errors %}
<div class="error">
<p>Your username and password didn't match. Please try again.</p>
</div>
{% endif %}
{% endblock %}

