{% extends "base.html" %}

{% block column1 %}

<h2>Login</h2>

<form method="post" action="/login/"  onsubmit="crds.validate_login();" >
{% csrf_token %}
<table style="margin-left: 2em;">
<tr>
    <td style="font-size: 1.3em; text-align: right;">{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td  style="font-size: 1.3em; text-align: right;">Lock Instrument:</td> 
    <td> {% include "select_instrument.html" %} </td>
</tr>
<tr>
    <td style="font-size: 1.3em; text-align: right;">{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input class="btn btn-primary btn-lg" type="submit" value="Login"/>  

<br/> <br/> <br/>

<div class="panel panel-warning">
    <div class="panel-heading">WARNING:</div> 
    <div class="panel-body">
        Any pending submissions in other sessions will be automatically cancelled.
    </div>
</div>

<input type="hidden" name="next" value="{{ next }}" />
</form>

<script type="application/javascript">
    crds.validate_login = function () {
        crds.set_info_box({text: "Acquiring instrument lock.  This may take a few seconds...",  css: {color: "green"} });
        return true;
    }
</script>

{% endblock %}

{% block column2 %}
{% if form.errors %}
<div class="error">
<p>Your username and password didn't match. Please try again.</p>
</div>
{% endif %}
{% endblock %}

