{% extends "base.html" %}

{% block contents_both %}
<h2 title="Mark specified files as 'bad' (scientifically invalid) or 'ok' again."
    >Mark Files Bad</h2>
<form method="post" action="/mark_bad/" enctype="multipart/form-data"> 
  {% csrf_token %}
  <table width="100%">
    <input type='hidden' name='observatory' value='{{observatory}}' />
    
    <tr title="Newline separated list of references or mappings to mark as 'bad' or 'ok'.">
      <td class="tdlabel">Files:</td>
      <td>
        <textarea name="file_known" cols="50" rows="4" >{{file_known}}</textarea>
      </td>
    </tr>
    
    <tr>
      <td class="tdlabel" title="Choose 'bad' to disable a scientifically invalid file.  Choose 'ok' to reenable normal use.">Mark as:</td>
      <td>
        <input type="radio" name="badflag" value="bad" 
               {% if badflag == 'bad' %}
               checked
               {% endif %}
               ><span class="tdlabel">Bad</span></input>
        <input type="radio" name="badflag" value="ok" 
               {% if badflag == 'bad' %}
               checked
               {% endif %}
               ><span class="tdlabel">OK</span></input>
      </td>
    </tr>
    
    <tr>
      <td class="tdlabel" title="Why this file is no longer usable or is usable once again.">Reason:</td>
      <td><textarea name="why" rows="4" cols="40">{{why}}</textarea>
      </td>
    </tr>
    
  </table>

  <p></p>
  <input class="btn btn-primary" type="submit" value="Submit">

</form>


{% endblock contents_both %}

{% block bottom_help %}

{% include "bluebar.html" %}

<div>
   <h3>Procedure:</h3>
   <ol>
     <li>Generate a clean context which does not contain the prospective bad files.</li>
     <li>Set the clean context as the pipeline default using Set Context.
     <li>Mark the now unused-by-default files 'bad'.
     <li>Sync the pipeline's cache.</li>
     
   </ol>
   <p/><p>This procedure maintains the invariant that a known bad file is <b>never</b> in the operational context.</p>

  <h3>Additional Notes:</h3>
  <ul>
    <li>Marking bad means a file is likely to produce scientifically invalid results.</li>
    
    <li>If a context containing bad rules is used for bestrefs or recommends
      bad references, it is an error by default.
    </li>

    <li>Set env vars CRDS_ALLOW_BAD_RULES or CRDS_ALLOW_BAD_REFERENCES to 1 for warnings instead of errors.</li>

    <li>Contexts containing bad files cannot be set as the operational default.</li>
    
    <li>Files which are in the operational context cannot be marked bad.</li>
    
    <li>Marking any mapping as bad taints all contexts containing it as also bad.</li>

    <li>Marking a reference as bad taints only the reference.</li>
  </ul>
</div>

{% endblock bottom_help %}
