{% extends "base.html" %}

{% block column1 %}
    <h2>Mark Files Bad</h2>
    <form method="post" action="/mark_bad/" enctype="multipart/form-data"> 
      {% csrf_token %}
      <table width="100%">

       <input type='hidden' name='observatory' value='{{observatory}}' />

        <tr>
          <td width="5%" class="label">Files:</td>
          <td width="25%">
            <textarea name="file_known" cols="50" rows="4" >{{file_known}}</textarea>
          </td>
        </tr>
        
        <tr>
          <td width="5%" class="label">Mark as:</td>
          <td width="25%">
            <input type="radio" name="badflag" value="bad" 
                {% if badflag == 'bad' %}
                    checked
                {% endif %}
            ><span class="label">Bad</span></input>
            <input type="radio" name="badflag" value="ok" 
                {% if badflag == 'bad' %}
                    checked
                {% endif %}
            ><span class="label">OK</span></input>
          </td>
        </tr>
        
        <tr>
          <td width="5%" class="label">Reason:</td>
          <td width="25%"><textarea name="why" rows="4" cols="40">{{why}}</textarea>
          </td>
        </tr>
      
      </table>
      <p></p>
      <input type="submit" value="Submit">
    </form>
{% endblock column1 %}

{% block help %}

    <p><b>Mark Files Bad</b> Marks files as "bad" or "ok".   
    
    <p><p>Marking a file bad means that it is scientifically invalid or likely to produce invalid results.
    
    <p><p>Contexts marked bad or containing bad files cannot be set as the operational default.
    
    <p><p>Files which are in the operational context cannot be marked bad.
    
    <p><p>To mark a file bad,  first generate an alternate context which omits the bad file
    and make it operational. The bad file will transition to a non-operational
    state.   Non-operational files can be marked bad and used under historical contexts.
    
    <p><p>Marking any mapping as bad will taint all mappings which contain it as also bad.

    <p><p>Attempts to use historical contexts which recommend bad files will generate warnings 
    provided the client is connected to the server.
    
    <p><p><b>Files</b> a list of known CRDS mapping or reference filename to be marked as bad or ok.
    Separate names with commas or whitespace.
    
    <p><p><b>Mark as</b> Choose "bad" to disable a file.  Choose "ok" to reenable.

    <p><p><b>Reason</b> Why this file is no longer usable or is usable once again.
    
{% endblock help %}
