{% extends "base.html" %}

{% block column1 %}

<form action="/recent_activity/" method="post""> {% csrf_token %}
    <h2>List Actions</h2>
    <h3>Filters</h3>
    <table>
      <tr>
        <td class="label" width="50%">Action:</td>
        <td align="right">
            <select name="action" value="*"/>
                {% for action in actions %}
                    <option>{{action}}</option>
                {% endfor %}
            </select>
        </td>
      </tr>
      {% include "browse_options.html" %}
      <tr>
            <td class="label" width="50%">Extension:</td>
            <td align="right">
                <select name="extension" value="{{extension}}"/>
                {% for ext in extensions %}
                    {% if ext == extension %}
                        <option selected>{{ext}}</option>
                    {% else %}
                        <option>{{ext}}</option>
                    {% endif %}
                {% endfor %}
                </select>
            </td>
      </tr>
    </table>
      <br/>
    <input type="submit" value="Submit" />
</form>

{% endblock column1 %}

{% block help %}

<p><b>Recent Activity</b> Search the CRDS database for actions matching the
filters you specify.  To ignore a field during search, set it to *.  

{% endblock help %}

