{% extends "base.html" %}

{% block contents_both %}

<h2 title="Search the CRDS database for actions matching the specified criteria."
   >Recent Activity</h2>

<div class="row">

    <div class="col-md-8">
        <form action="/recent_activity_query/" method="post" > {% csrf_token %}
            <table>
              {% include "action_options.html" %}
              {% include "extension_options.html" %}
              {% include "browse_options.html" %}      
              {% include "date_input.html" %}
            </table>
            <input class="btn btn-primary" type="submit" value="Submit" />
        </form>

        {% include "date_input_js.html" %}
    </div>
</div>

<div>  
  <br/>
  <p><b>NOTE:</b> To ignore a field during search, set it to *.
  </p>
</div>
{% endblock contents_both %}

{% block help %}
{% endblock help %}

