{% extends "base.html" %}

{% block column1 %}
    <h2>Reserve Filename</h2>
    <form method="post" action="/reserve_name/" enctype="multipart/form-data"> 
      {% csrf_token %}
      <table width="100%">
        <tr>
          <td width="5%">
                <input type="radio" name="filemode" 
                        value="file_known" checked />
          </td>
          <td width="25%" class="label">Known File:</td>
          <td width="25%">
            <input type='text' name='file_known' size="32">
          </td>
        </tr>
        <tr>
          <td width="5%">
                <input type="radio" name="filemode" 
                        value="by_parts" />
          </td>
          <td width="25%" class="label">By Parts:</td>
          <td width="25%">
          </td>
        </tr>
        <tr>
          <td width="5%">
          </td>
          <td width="25%" class="label">Observatory</td>
          <td width="25%">
            <select name="observatory">
                <option>hst</option>
                <option>jwst</option>
            </select>
          </td>
        </tr>
        <tr>
          <td width="5%">
          </td>
          <td width="25%" class="label">Instrument</td>
          <td width="25%">
            <select name="instrument">
            {% for instr in instruments %}
            <option>{{instr}}</option>
            {% endfor %}
            </select>
          </td>
        </tr>
        <tr>
          <td width="5%">
          </td>
          <td width="25%" class="label">Filekind</td>
          <td width="25%">
            <select name="filekind">
            {% for fk in filekinds %}
                <option>{{fk}}</option>
            {% endfor %}
            </select>
          </td>
        </tr>
        <tr>
          <td width="5%">
          </td>
          <td width="25%" class="label">Type/Extension</td>
          <td width="25%">
            <select name="extension">
                {% for ext in extensions %}
                <option>{{ext}}</option>
                {% endfor %}
            </select>
          </td>
        </tr>
        <tr></tr>
      </table>
      <p></p>
      <input type="submit" value="Reserve Name">
    </form>
{% endblock column1 %}

{% block help %}
    <p><b>Reserve Filename helps keep track of reference or mapping files
    which are under development but not yet submitted to CRDS.</b>
    
    <p><p><b>Known File</b> Lets you use a known CRDS reference or mapping file as
    a template for the new filename.   The next name in the series will be
    generated and returned,  NOT the name you enter here.
    
    <p><p><b>By Parts</b> Lets you specify key pieces of a filename to define 
    the series from which the reserved filename will be generated and returned.
    
{% endblock help %}