<p><p><b>Upload Files</b> is a panel that opens to support uploading files to
the CRDS server.   First,  choose files to upload using <i>Add Files</i>.   
Next,  click <i>Start Uploads</i>.   When the uploads complete proceed with your
task.  When you're done working with a file,  select it,  and click <i>Delete Files</i>.
Each CRDS user has a unique file upload area.   Operations apply to all files in the
upload area.   To delete all files in the upload area check the <i>Select All</i> box 
and click <i>Delete Files</i>.

