{% load stdtags %}

{% accordion  "<span name='pmap_status'></span>" %}
<table>
   <tr>
    <td><input type="radio" name="pmap_mode" value="pmap_edit" onchange='crds.validate_select_pmap();' checked >Editing</td>
      <td align="right">
        <input type="hidden" name="pmap_edit" value="{{pmap_edit}}" />
        <p>{{edit_context_label|gray}}</p>
        <p style='margin-top: 0' class='tiny'>or more recent</p>
      </td>
   </tr>
   <tr>
    <td><input type="radio" name="pmap_mode" value="pmap_operational" onchange='crds.validate_select_pmap();' >Operational</td>
      <td align="right">
        <input type="hidden" name="pmap_operational" value="{{pmap_operational}}" />
        <p>{{operational_context_label|gray}}</p>
        <p style='margin-top: 0' class='tiny'>or more recent</p>
      </td>
   </tr>
  <tr>
    <td><input type="radio" name="pmap_mode" value="pmap_menu" onchange='crds.validate_select_pmap();' >Recent</td>
      <td align="right">
        <select name="pmap_menu" style="width: 20em; height: 30px; " onchange='crds.set_radio("pmap_mode","pmap_menu"); crds.validate_select_pmap();' />
            {% for pmap in pmaps %}
                {% if pmap.0 == pmap_menu %}
                    <option value="{{pmap.0}}" selected>{{pmap.1}}</option>
                {% else %}
                    <option value="{{pmap.0}}">{{pmap.1}}</option>
                {% endif %}
            {% endfor %}
        </select>
      </td>
  </tr>
  <tr>
    <td><input type="radio" name="pmap_mode" value="pmap_text" onchange='crds.validate_select_pmap();' >User Specified</td>
      <td align="right"><input type="text" name="pmap_text" value="{{pmap_text}}"
            onchange='crds.set_radio("pmap_mode","pmap_text"); crds.validate_select_pmap();' /></td>
      <td class="hint">e.g. hst_0001.pmap</td>
  </tr>
</table>
<br/>
{% endaccordion %}

<script type="text/javascript">
    $( function () {
        crds.validate_select_pmap = function () {
            console.log("validating select_pmap.");
            var pmap_mode = $("input[name='pmap_mode']:checked").val();
            if ( pmap_mode == "pmap_text") {
                var pmap = $("input[name='pmap_text']").val();
                if (!/^.+.pmap$/.test(pmap) && $.trim(pmap)) {
                    alert("Invalid .pmap name");
                    return false;
                };
            };
            if (pmap_mode == "pmap_text") {
                pmap_option = pmap;
                title = "User Specified";
            } else if (pmap_mode == "pmap_edit") {
                pmap_option = $("input[value='pmap_edit']").parent().next().children().val();
                title = "Editing Context";
            } else if (pmap_mode == "pmap_operational") {
                pmap_option = $("input[value='pmap_operational']").parent().next().children().val();
                title = "Operational Context";
            } else if (pmap_mode == "pmap_menu") {
                pmap_option = $("select[name='pmap_menu'] option:selected").text()
                title = "Recent Context";
            } else {
                    console.log("Bad pmap_mode ", pmap_mode);
            };
            pmap_status = pmap_option + " (" + title + ")";
            $("span[name='pmap_status']").html(pmap_status);
            return true;
        };
        crds.validate_select_pmap();
    });
</script>
