    {% load stdtags %}

    <table>
       <tr>
        <td><input type="radio" name="pmap_mode" value="pmap_edit" checked>Editing</td>
          <td align="right">
            <input type='hidden' name='pmap_editing' value='{{edit_context}}' />
            <p>{{edit_context_label|grey}}</p>
            <p style='margin-top: 0' class='tiny'>or more recent</p>
          </td>
       </tr>
       <tr>
        <td><input type="radio" name="pmap_mode" value="pmap_operational">Operational</td>
          <td align="right">
            <input type='hidden' name='pmap_operational' value='{{operational_context}}' />
            <p>{{operational_context_label|grey}}</p>
            <p style='margin-top: 0' class='tiny'>or more recent</p>
          </td>
       </tr>
      <tr>
        <td><input type="radio" name="pmap_mode" value="pmap_menu" >Recent</td>
          <td align="right">
            <select name="pmap_menu" onchange='crds.set_radio("pmap_mode","pmap_menu");' />
                {% for pmap in pmaps %}
                    {% if pmap.0 == pmap_menu %}
                        <option value="{{pmap.0}}" selected>{{pmap.1}}</option>
                    {% else %}
                        <option value="{{pmap.0}}">{{pmap.1}}</option>
                    {% endif %}
                {% endfor %}
            </select>
          </td>
      </tr>
      <tr>
        <td><input type="radio" name="pmap_mode" value="pmap_text">User Specified</td>
          <td align="right"><input type="text" name="pmap_text" value="{{pmap_text}}"
                onchange='crds.set_radio("pmap_mode","pmap_text"); crds.validate_select_pmap();' /></td>
          <td class="hint">e.g. hst_0001.pmap</td>
      </tr>
    </table>
    <br/>
    
    <script type="text/javascript">
        crds.validate_select_pmap = function () {
            console.log("validating select_pmap.");
            var pmap_mode = $("input[name='pmap_mode']:checked").val();
            if ( pmap_mode == "pmap_text") {
                var pmap = $("input[name='pmap_text']").val();
                if (!/^.+.pmap$/.test(pmap)) {
                    alert("Invalid .pmap name");
                    return false;
                }
            }
            return true;
        }
    </script>
