{% load stdtags %}

<script src="/static/select_pmap.js" type="text/javascript"></script>

{% accordion  "<span id='pmap_status'></span>" %}
<table>
   <tr title="Typically the context from the last submission and likely starting point for future contexts.">
    <td><input type="radio" name="pmap_mode" value="pmap_edit" 
                onchange='crds.select_pmap_onchange("pmap_edit");' 
	       {% if pmap_edit_checked %}
	          checked="checked"
	       {% endif %}
	       />&nbsp;Editing
    </td>
    <td align="right">
      <input type="hidden" name="pmap_edit" value="{{pmap_edit}}" />
      <p>{{edit_context_label|gray}}</p>
      <p style='margin-top: 0' class='tiny'>or more recent</p>
    </td>
   </tr>
   <tr title="Context currently designated for use in the archive pipeline.">
    <td><input type="radio" name="pmap_mode" value="pmap_operational"
               onchange='crds.select_pmap_onchange("pmap_operational");' 
	       {% if pmap_operational_checked %}
	          checked="checked"
	       {% endif %}
	       />&nbsp;Operational
    </td>
    <td align="right">
      <input type="hidden" name="pmap_operational" value="{{pmap_operational}}" />
      <p>{{operational_context_label|gray}}</p>
      <p style='margin-top: 0' class='tiny'>or more recent</p>
    </td>
   </tr>
  <tr title="Menu of last 10 consecutive contexts.">
    <td><input type="radio" name="pmap_mode" value="pmap_menu" 
               onchange='crds.select_pmap_onchange("pmap_menu");'
               />&nbsp;Recent
    </td>
    <td align="right">
      <select name="pmap_menu" style="width: 25em; height: 30px;"
              onchange='crds.set_radio("pmap_mode","pmap_menu"); crds.validate_select_pmap(); crds.close_pmap_accordion();' >
            {% for pmap in pmaps %}
                {% if pmap.0 == pmap_menu %}
                    <option value="{{pmap.0}}" selected>{{pmap.1}}</option>
                {% else %}
                    <option value="{{pmap.0}}">{{pmap.1}}</option>
                {% endif %}
            {% endfor %}
      </select>
    </td>
  </tr>
  <tr title="Write in an arbitary literal context name. Use with care.">
    <td><input type="radio" name="pmap_mode" value="pmap_text"
               onchange='crds.select_pmap_onchange("pmap_text");' 
               />&nbsp;User Specified
    </td>
    <td align="right"><input type="text" name="pmap_text" value="{{pmap_text}}"
                             onchange='crds.select_pmap_onchange("pmap_text");' />
      <span class="hint">e.g. hst_0001.pmap</span>
    </td>
  </tr>
</table>
<br/>
<p>*Reversion* indicates that the corresponding context precedes the current
  editing context.  When creating new rules, deriving from a *reversion*
  context can result in lost changes, perhaps intentionally to bypass bad
  rules.
</p>
{% endaccordion %}

<div class="hidden" id="pmap_labels_json" >{{pmap_labels_json}}</div>

