{% extends "base.html" %}

{% load stdtags %}

{% block column1 %}
    <h2>Set Password for {{username|gray}}</h2>
    <form method="post" action="/set_password/" enctype="multipart/form-data"> 
      {% csrf_token %}
      <table width="100%">
        <tr>
          <td width="25%" class="label">New Password:</td>
          <td width="25%">
            <input type='password' name='new_password1' size="32" value="{{new_password1}}">
          </td>
        </tr>
        <tr>
          <td width="25%" class="label">Retype New Password:</td>
          <td width="25%">
            <input type='password' name='new_password2' size="32" value="{{new_password2}}">
          </td>
        </tr>
      </table>
      <p></p>
      <input type="submit" value="Set New Password">
    </form>
{% endblock column1 %}

{% block help %}
<p class="help"><b>Set Password</b> >= 6 characters,  >= 1 letter, >= 1 digit.
{% endblock help %}

