{% extends "base.html" %}

{% block column1 %}
    <h2>Set Default Context</h2>
    <form method="post" action="/set_default_context/" enctype="multipart/form-data">  {% csrf_token %}

      <h3>Current States</h3>
      <table border="1">
        <tr> <td class="label">Context</td>  <td class="label">Value</td> </tr>
        {% for context in context_map.items %}
            <tr><td>{{context.0}}</td><td>{{context.1}}</td></tr>
        {% endfor %}
      </table>
      
      <h3>Select Context Type</h3>
      <p>
            <select name="context_type">
                {% for ctype in context_map.keys %}
                    <option>{{ctype}}</option>
                {% endfor %}
            </select>
      </p>
      <br/>

      <h3>Set Selected to this Context</h3>
      {% include "select_pmap.html" %}
      
      <h3>Reason for Change</h3>
      <p>
            <textarea name="description" id="description" rows="4" cols="50">{{description}}</textarea>   
      </p>
      <br/>

      <input type="submit" value="Set Default Context" >
    </form>
{% endblock column1 %}

{% block help %}

<p><b>Set Default Context</b> is used to change the pipeline context which is
used for creating new mappings (default) or determining best references 
(operational).

<p><b>Default Context</b>  starting point for editing/deriving new mappings.  

<p><b>Operational Context</b> Pipeline mapping which will be used operationally
to determine best references.

{% endblock help %}
