{% extends "base.html" %}

{% block column1 %}
    <h2>Set Context</h2>
    <form method="post" action="/set_default_context/" enctype="multipart/form-data" onsubmit="return crds.warn_delay();" >  {% csrf_token %}

      <h3>Select:</h3>
      <table border='1'>
            <tr>
                <th>Context Type</th>
                <th>Current Value</th>
            </tr>
            <tr>
                <td>
                    <select name="context_type" onchange="crds.set_context_display(sel.options[sel.selectedIndex].value);">
                        {% for ctype in context_types %}
                            {% if ctype == "operational" %}
                                <option selected>{{ctype}}</option>
                            {% else %}
                                <option>{{ctype}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </td>
                <td id='context_display' class="gray"></td>
            </tr>
      </table>

      <h3>Set To:</h3>
      {% include "select_pmap.html" %}
      
      <h3>Reason for Change:</h3>
      <p>
            <textarea name="description" id="description" rows="4" cols="50">{{description}}</textarea>   
      </p>
      <br/>

      <input type="submit" value="Set Default Context" >
    </form>
    
    <script>
        crds.context_map = {
            {% for context in context_map.items %}
                "{{context.0}}" : "{{context.1}}",
            {% endfor %}
        };
        crds.context_pmaps = {
            {% for pmap in context_pmaps.items %}
                "{{pmap.0}}" : "{{pmap.1}}",
            {% endfor %}
        };
        crds.set_context_display = function(value) {
            $('#context_display').html(crds.context_pmaps[crds.context_map[value]]);
        };
        crds.set_context_display("operational");
        
        crds.warn_delay = function () {
            crds.set_info_box({text: "Switching operational context now."});
            crds.append_info_box({
                    text: "This may take a few minutes to update file activation dates.",
                    css: {color: "darkblue"},
                    });
            return true;
        };
    </script>
    
{% endblock column1 %}

{% block help %}

<p><b>Set Context</b> is typically used to define the pipeline mapping which
will be used in operations.   Set Context can also be used to modify the context which
will be used as the basis of the next set of rules.

<p><b>Operational Context</b> Default pipeline mapping which will be used operationally
to determine best references.   The operational context cannot contain blacklisted references.

<p><b>Edit Context</b> Default starting point for editing/deriving new mappings.  Unless
overridden,  new file submissions which generate rules will use this as the starting context
and create a modified version of it.

<p><b>Select:</b> Choose the type of default to modify,  operational or edit.   This also 
shows the current default of the selected type.

<p><b>Set To:</b> The default context of the chosen type will be set to this value.


{% endblock help %}
