{% extends "base.html" %}

{% block column1 %}
    <h2>Submit {{crds_filetype|capfirst}} Files</h2>
    <form method="post" action="/submit/{{crds_filetype}}/" enctype="multipart/form-data"> 
      {% csrf_token %}

        <input type='hidden' name='observatory' value='{{observatory}}' />

        {% if crds_filetype == "reference" %}
        <h3>Context to Check Against</h3>
        {% include "select_pmap.html" %}
        {% endif %}
        
        <h3>Submitted Files:</h3>
        {% include "select_files.html" %}
     
        <h3>Change Level:
        <select name='change_level' value="{{change_level}}">
            <option>SEVERE</option>
            <option>MEDIUM</option>
            <option>TRIVIAL</option>
        </select>
        </h3>

        <h3>Creator:
        <input type='text' name='creator' size="40" value="{{creator}}">
        </h3>

        <h3>Description:</h3>
        <textarea name='description' rows="4" cols="50">{{description}}</textarea>

        <h3>Auto-Rename:
        {% include "auto_rename_input.html" %}
        </h3>

      <p></p>
      <input type="submit" value="Submit File">
    </form>
{% endblock column1 %}

{% block help %}

<p><b>Submit Files</b> permanently enters files into CRDS and the 
archive.

{% if crds_filetype == "reference" %}
<p><p><b>Context to Check Against</b> defines any prior reference used to check
modes of a new reference.
{% endif %}

<p><p><b>Submitted Files</b> new references or mappings to be added to CRDS.

<p><p><b>Change Level</b> The degree to which the new files are expected to 
impact science results.

<p><p><b>Description</b> information about what's new in this file and what
the expected impacts are.

<p><p><b>Creator</b> author of the contents or changes to the file,  not 
necessarily the submitter.   The submitter is known based on login information.

{% include "auto_rename_help.html" %}

<p><p><b>NOTE:</b> All submitted files must pass certification before they will
be accepted by CRDS.  All references referred to by a mapping must be submitted
before the mapping will be accepted.

{% endblock help %}


