{% extends "base.html" %}

{% block column1 %}
    <h2>Submit {{crds_filetype|capfirst}} File</h2>
    <form method="post" action="/submit/{{crds_filetype}}/" enctype="multipart/form-data"> 
      {% csrf_token %}
      <table width="100%">
        <tr>
            <td class="label" width="25%">Observatory:</td>
            <td width="25%">
                <select name="observatory" />
                    <option value="hst">HST</option>
                    <option value="jwst">JWST</option>
                </select>
            </td>
        </tr>
        <tr>
          <td width="25%" class="label">Submitted File:</td>
          <td width="25%">
            <input type='file' name='submitted_file' size="40" 
                value="{{submitted_file}}">
          </td>
        </tr>
        <tr>
          <td width="25%" class="label">Auto-rename:</td>
          <td width="25%">
            <input type="checkbox" name='auto_rename' >{{auto_rename}}</input>
          </td>
        </tr>
        {% if crds_filetype == "reference" %}
            <tr>
              <td width="25%" class="label">Comparison File:</td>
              <td width="25%">
                <input type='text' name='comparison_file' size="40" 
                    value="{{comparison_file}}">
              </td>
            </tr>
            <tr>
              <td width="25%" class="label">OPUS Flag:</td>
              <td width="25%">
                <select name='opus_flag' value="{{opus_flag}}">
                    <option>Y</option>
                    <option>N</option>
                </select>
              </td>
            </tr>
            <tr>
              <td width="25%" class="label">Change Level:</td>
              <td width="25%">
                <select name='change_level' value="{{change_level}}">
                    <option>SEVERE</option>
                    <option>MEDIUM</option>
                    <option>TRIVIAL</option>
                </select>
              </td>
            </tr>
        {% endif %}
        <tr>
          <td width="25%" class="label">Description:</td>
          <td width="25%">
            <textarea name='description' rows="4" cols="50">{{description}}</textarea>
          </td>
        </tr>
      </table>
      <p></p>
      <input type="submit" value="Submit File">
    </form>
{% endblock column1 %}
