{% extends "base.html" %}

{% block column1 %}
    <h2>Submit {{crds_filetype|capfirst}} File</h2>
    <form method="post" action="/submit/{{crds_filetype}}/" enctype="multipart/form-data"> 
      {% csrf_token %}
      <table width="100%">
      
        <input type='hidden' name='observatory' value='{{observatory}}' />

        <tr>
          <td width="25%" class="label">Submitted File:</td>
          <td width="25%">
            <input type='file' name='submitted_file' size="40" 
                class='multi' maxlength='1'
                value="{{submitted_file}}">
          </td>
        </tr>
        {% if crds_filetype == "reference" %}
    
        {% comment %}
            <tr>
              <td width="25%" class="label">Comparison File:</td>
              <td width="25%">
                <input type='text' name='comparison_file' size="40" 
                    value="{{comparison_file}}">
              </td>
            </tr>
        {% endcomment %}
        
            <tr>
              <td width="25%" class="label">Change Level:</td>
              <td width="25%">
                <select name='change_level' value="{{change_level}}">
                    <option>SEVERE</option>
                    <option>MEDIUM</option>
                    <option>TRIVIAL</option>
                </select>
              </td>
            </tr>
        {% endif %}
        <tr>
          <td width="25%" class="label">Creator:</td>
          <td width="25%">
            <input type='text' name='creator' size="40" value="{{creator}}">
          </td>
        </tr>
        <tr>
          <td width="25%" class="label">Description:</td>
          <td width="25%">
            <textarea name='description' rows="4" cols="50">{{description}}</textarea>
          </td>
        </tr>
      </table>
      <p></p>
      <input type="submit" value="Submit File">
    </form>
{% endblock column1 %}

{% block help %}

{% if crds_filetype == "reference" %}

<p><b>Submit Reference File</b> permanently enters a reference file into the 
CRDS system.

<p><p><b>Submitted File</b> a new reference file to be added to CRDS.

<!--
p><p><b>Comparison File</b> when specified,  the submitted reference must
provide the same general coverage as the comparison file.
-->

<p><p><b>Change Level</b> a flag to help search for deliverable files.

<p><p><b>Creator</b> author of the contents or changes to the file,  not 
necessarily the submitter.   The submitter is known based on login information.

<p><p><b>Description</b> information about what's new in this file and what
the expected impacts are.

<p><p>NOTE: All references must be submitted before a mapping which uses any 
of them can be submitted.  

{% else %}

<p><b>Submit Mapping File</b> permanently enters a mapping file into the 
CRDS system in a state which is initially unused.   A file must pass CRDS
certification before it will be accepted.

<p><p><b>Submitted File</b> a new mapping file to be added to CRDS.

<p><p><b>Description</b> information about what's new in this file and what
the expected impacts are.

<p><p>NOTE: All references must be submitted before a mapping which uses any 
of them can be submitted.  

{% endif %}

{% endblock help %}


