{% extends "fileupload/picture_form.html" %}
{% load stdtags %}

{% block picture_form_prefix %}

<br/>
<br/>
{% if workflow_title %}
    <h2 class="h2">Uploading Files For {{workflow_title|gray}}</h2>
{% else %}
    <h2 class="h2">Uploading Files</h2>
{% endif %}
<br/>

{% endblock %}



{% block picture_form_footer %}

<div class="container" name="continue-buttons">
    <h2 class="h2">Continue With {{workflow_title|gray}}</h2>
    <table>
        <tr>      
            {% if workflow_next %}
                <td>
                    <form name="continue" action="{{workflow_next}}"> {% csrf_token %}
                        <input type="submit" name="continue" value="Continue" />
                    </form>
                </td>
            {% endif %}
        </tr>
    </table>
</div>

<script type="text/javascript">
    $(function () {
        console.log("initializing.");
                   
        $("form[name^='continue']").submit( function () {
            console.log("submitting.");
        });
   });
</script>

{% endblock %}

