<script type="text/javascript">
function validate_and_confirm(form) {
    console.log("Validating batch reference form submission.");
    if (!crds.validate_select_pmap()) {
        return false;
    };
    console.log("Validating description.");
    if (!$("#description").val()) {
        alert("Did you add a Description?");
        return false;
    };
    console.log("Validating creator.");
    if (!$("#creator").val()) {
        alert("Did you add a Creator?");
        return false;
    };
    crds.set_info_box({text: "Processing references on the server now."});
    crds.append_info_box({
        text: "This may take several minutes depending on how many files you submitted and how.",
        css: {color: "darkblue"},
    });

    jpoll.log_message = function(message) {
        console.log("JPOLL: " + message);
        $("#column2").append("<p>" + message + "</p>");
    };
    $("#column2").html("");                            
    jpoll.start();                   

    return true;
}
</script>

