<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
       <title>Jpoll Test Page</title>

      <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
      <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
      <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js"></script>

      {% include "jpoll/jpoll_head_overrides.html" %}
      
  </head>

  <body>
    <noscript>
      <h2>This page requires JavaScript to be enabled.</h2>
    </noscript>
    
    <div>
        <div id="page_header">
            <h1>Jpoll Test Page</h1>
        </div>
    
    <div id="contents">
    
        {% block contents %} 
        {% endblock %}

    <form id="test_form" method="post" 
        action="/jpoll/test_worker/" 
        enctype="multipart/form-data"
        onsubmit="jpoll.log('validating.'); jpoll.start(); return true;"
        class="jpoll_ajax_html_form"
    >  {% csrf_token %}

    <h3>Name:
    <input type='text' name='name' id='creator' size="40" value="{{creator}}">
    </h3>

      <h3>Text: <textarea name="text" id="description" rows="4" cols="50"></textarea>   
      </h3>

      <h3>Checkbox:  <input type="checkbox" name="Checkbox" /></h3>

      <br/>
      <br/>
      <input type="submit" value="Submit" >
    </form>
        
    <br/>
    <br/>

    <div id="jpoll_log" class="full_width" style="overflow: auto; height: 6em; max-height: 6em; border: 1px solid;">
    </div>
    
    <br/>
    <br/>
 
    </div>
    
    <script type="application/javascript">
        jpoll.response_success = function (form, result) {
            jpoll.log("JPOLL RESPONSE (built-in): " + result);
        };    
    </script>
    
  </body>
</html>
