<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>{{observatory|upper}} Calibration Reference Data System (CRDS)</title>

    {% block head_additions %} 
    {% endblock %}
    
    <link type="text/css" rel="stylesheet" href="/static/style.css" />
    
    <link  href="/static/jquery-ui-1.8.14/css/smoothness/jquery-ui-1.8.14.custom.css" rel="stylesheet">
    <script src="/static/jquery-ui-1.8.14/js/jquery-1.7.1.min.js"></script>
    <script src="/static/jquery-ui-1.8.14/js/jquery-ui-1.8.14.custom.min.js"></script>

    <script src="/static/crds_utils.js" type="text/javascript" language="javascript"></script> 
      
    {% block head_overrides %}
    {% endblock %}     
  </head>

  <body>
    <noscript>
      <h2>This page requires JavaScript to be enabled.</h2>
    </noscript>

    <div id="title" class="body_panel">
        <div id="page_header">
        <h1>{{observatory|upper}} Calibration Reference Data System (CRDS) 
	  {% if server_usecase != "ops" %}
	  <span class='green tiny'>({{server_usecase}})</span> </h1>
	  {% endif %}
        </div>
    
        <div id="header_menu">
           <a href="/static/users_guide/index.html" class="tiny"><img src='/static/images/help_blue.png' alt='help' class="header_menu" /></a>
           <a href="./" class="tiny" onClick="javascript:history.back(1);"><img src="/static/images/back-icon.png" alt='reset' class="header_menu" /></a>
           <a href="./" class="tiny" onClick= "javascript:history.forward(1);"><img src="/static/images/forward-icon.png" alt='reset' class="header_menu" /></a>
           <a href="/" class="tiny"><img src="/static/images/home.png" alt='home' class="header_menu" /></a>
           {# <a href="./" class="tiny"><img src="/static/images/undo.ico" alt='reset' height='24' width='24' /></a> #}
           {% if is_authenticated %}
                <a href="/logout/" class="tiny"><img src="/static/images/exit.png" alt='logout' class="header_menu"
                    onclick='return confirm("Really logout?  Any unconfirmed file submissions will be cancelled.");' /></a>
           {% else %}
                <a href="/login/?next={{current_path}}" class="tiny"><img src="/static/images/log_in.png" alt='login' class="header_menu" /></a>          
           {% endif %}
           {% if locked_instrument %}
               <p><span class='locked_instrument'>{{locked_instrument}}</span>  <span class='lock_timer'> </span></p>
           {% endif %}
        </div>
        <div style="clear:both;">
        </div>
    </div>
    
    <div id="contents">
        {% block contents %}
 
            <div id="contents_top" class="full_width" class="body_panel">
                {% block contents_top %}
                {% endblock %}
            </div>
 
            <div id="both_columns" class="body_panel">
            
                <div id="column1">
                    {% block column1 %}
                    {% endblock %}
                </div>
                
                <div id="column2">
                    {% block column2 %}
                        <br/><br/>
                        {% if error_message %}
                            <div class="error">
                                {{error_message}}
                            </div>
                            <br/>
                        {% endif %}
                        <div class="help">
                            <p>
                            {% block help %}
                            {% endblock help %}
                            </p>
                        </div>
                    {% endblock %}
                </div>
            
                <div style="clear: both;"></div>

            </div>
            
        {% endblock %}
        
        <div class="help">
        <p>
        {% block bottom_help %}
        {% endblock bottom_help %}
        </p>
        </div>
        
        <div id="crds_info_box" class="full_width">
        </div>
        
        <br/>
        <br/>
        <br/>
        <br/>
 
    </div>
    
    {% if locked_instrument %}
        <script type="text/javascript">
            crds.poll_lock_status();
            crds.lock_timer_interval = setInterval(crds.poll_lock_status, 5000);
        </script>
    {% endif %}

    {% block body_trailer %}
    {% endblock body_trailer %}
  </body>
</html>
