<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{observatory|upper}} Calibration Reference Data System (CRDS)</title>

    {% block head_additions %} 
    {% endblock %}
    
    {# ======================================================================================== #}

    {# NOTE:  order jQuery, jQuery-migrate, bootstrap, jQuery-ui is required #}

    <link rel="stylesheet" href="/static/bootstrap-3.3.6-dist/css/bootstrap.min.css">      
    <link type="text/css" rel="stylesheet" href="/static/style.css" />
    <link  href="/static/jquery-ui-1.12.1.custom/jquery-ui.min.css" rel="stylesheet" />
    <link  href="/static/jquery-ui-1.12.1.custom/jquery-ui.structure.min.css" rel="stylesheet" />
    <link  href="/static/jquery-ui-1.12.1.custom/jquery-ui.theme.min.css" rel="stylesheet" />

    <script src="/static/jquery-ui-1.12.1.custom/external/jquery/jquery-1.12.4.min.js" type="text/javascript"></script>
    {# <script src="/static/jquery-ui-1.12.1.custom/external/jquery/jquery.js" type="text/javascript"></script> #}
    {# <script>$.uiBackCompat = false;</script> #}
    {# <script>$.migrateTrace=true;</script> #}
    {# <script src="/static/jquery-migrate-1.4.1.js" type="text/javascript"></script> #}
    <script src="/static/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
    <script src="/static/jquery-ui-1.12.1.custom/jquery-ui.min.js" type="text/javascript"></script>

    {# ======================================================================================== #}

    <script src="/static/crds_utils.js" type="text/javascript" language="javascript"></script> 
    <script src="/static/fits-fc9b1946ff.js" type="text/javascript" charset="utf-8"></script>

    <meta name="robots" content="noindex">

    {% block head_overrides %}
    {% endblock %}     
  </head>

  <body>
<div class="container">
    <noscript>
      <h2>This page requires JavaScript to be enabled.</h2>
    </noscript>

    <div style="vertical-align: middle;">
        <div style="margin: 0; padding: 3px; width:100%; background: darkblue; height: 30px;">

            <div class="btn-toolbar pull-right" role="toolbar" aria-label="...">
                {% if locked_instrument %}
                    <div class="btn-group" role="group" aria-label="...">
                        &nbsp;&nbsp;<span style="color: white;" class="locked_instrument">{{locked_instrument}}</span> 
                        <span style="color: white;" class="lock_timer"> </span>
                    </div>
                {% endif %}
 
                <div class="btn-group" role="group" aria-label="...">
                    <a type="button" class="btn btn-xs btn-default" href="/">Home</a>
                    {% if is_authenticated %}
                        <a type="button" class="btn btn-xs btn-default" onclick='return confirm("Really logout?  Any unconfirmed file submissions will be cancelled.");' href="/logout">Logout</a>
                    {% else %}
                        <a type="button" class="btn btn-xs btn-default" href="/login/?next={{current_path}}">Login</a>
                    {% endif %}
                    <a type="button" class="btn btn-xs btn-default"
                    href="/static/users_guide/index.html">Guide</a>

                    {% if is_authenticated %}
                    <a type="button" class="btn btn-xs btn-default" href="/static/CrdsServerEndToEnd/CrdsServerEndToEnd.htm">Server Workflow</a>
                    {% endif %}
                </div> 
                
                <div class="btn-group" role="group" aria-label="...">
                    <a type="button" class="btn btn-xs btn-default" title="Back" href="#" onclick="javascript:history.back(1);">&#11013;</a>
                    <a type="button" class="btn btn-xs btn-default" title="Forward" href="#" onclick="javascript:history.forward(1);">&#10145;</a>
                </div> 

            </div>{# button toolbar #}
            
        </div>

        <h1 style="padding-left: 10px;">{{observatory|upper}} Calibration Reference Data System (CRDS) 
          {% if server_usecase != "ops" %}
              <span style="font-size: 50%;" class="label label-sm label-success">{{server_usecase}}</span> 
          {% endif %}
        </h1>

        {# Lower blue bar #}
        <div style="margin: 0 0 10px 0; padding: 3px; width:100%; background: darkblue; line-height: 0.5em;"> &nbsp; </div>
    </div>

    <div id="contents">
        <script type="text/javascript">$("#contents").hide();</script>
        
        {% block contents %}
 
	    {% block contents_top %}{% endblock contents_top %}
        
        {% if error_message %}
            <div class="panel panel-danger error">
                <div class="panel-heading">
                    Error...
                </div>
                <div id="error_message" class="panel-body">
                  {{error_message|safe}}
                </div>
            </div>
        {% endif %}

        <div id="both_columns" class="body_panel">
            
          {% block contents_both %} 

          <div id="column1">
            {% block column1 %}
            {% endblock column1 %}
          </div>
          
          <div id="column2">
            {% block column2 %}
            <br/><br/>
            <div class="help">
              {% block help %}
              {% endblock help %}
            </div>
            {% endblock column2 %}
          </div>
          
          {% endblock contents_both %}
          
          <div style="clear: both;"></div>
          
        </div>
            
	    {% block contents_bottom %}{% endblock contents_bottom %}
 
        {% endblock contents %}
        
        {% block crds_info_box %}
        <br/>
        <div id="crds_info_box" class="full_width">
        </div>
        {% endblock crds_info_box %}

        {% include "bluebar.html" %}

        <div class="help">{% block bottom_help %}{% endblock bottom_help %}</div>

	<script type="text/javascript">$("#contents").show();</script>

    </div>
    
    {% if locked_instrument %}
        <script type="text/javascript">
            crds.poll_lock_status();
            crds.lock_timer_interval = setInterval(crds.poll_lock_status, 5000);
        </script>
    {% endif %}

    {% block body_trailer %}
    {% endblock body_trailer %}

</div>

<script>
  $( function () {
    $( document ).tooltip();
  });
</script>
                   
  </body>
</html>
