<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
       <title>Calibration Reference Data System (CRDS)</title>

      {% block head_additions %} 
      {% endblock %}

      <link type="text/css" rel="stylesheet" href="/static/style.css" />

      {% comment %}      
       Original CRDS hosted jQuery links,  prior to switching to Google and jQuery CDN's
      <script src="/static/jquery-ui/js/jquery-1.7.1.min.js" type="text/javascript" language="javascript"></script>
      <link type="text/css" href="/static/jquery-ui/css/smoothness/jquery-ui-1.8.14.custom.css" rel="stylesheet" />
      <script src="/static/jquery-ui/js/jquery-ui-1.8.14.custom.min.js" type="text/javascript" language="javascript"></script>

      Superceded by django-file-upload functionality
      <script src="/static/jquery.MultiFile.js" type="text/javascript" language="javascript"></script>
      <script src="/static/jquery.cookie.js" type="text/javascript" language="javascript"></script>

      Latest options,  incompatible.
      <script src="http://code.jquery.com/jquery-migrate-1.1.0.min.js"></script>
      <link src="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css"></script>      
      {% endcomment %}
      
      <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
      <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
      <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js"></script>

      <script src="/static/crds_utils.js" type="text/javascript" language="javascript"></script> 
      
      {% block head_overrides %}
      {% endblock %}     

  </head>

  <body>
    <noscript>
      <h2>This page requires JavaScript to be enabled.</h2>
    </noscript>
    
    {% include "accordion.html" %}

    <div>
        <div id="page_header">
            <h1>{{observatory|upper}} Calibration and Reference Data System (CRDS)</h1>
        </div>
    
        <div id="header_menu">
           <a href="/static/users_guide/index.html" class="tiny"><image src='/static/help_blue.ico' alt='help' height='24' width='24' /></a>
           <a href="/" class="tiny"><image src="/static/home.ico" alt='home' height='24' width='24' /></a>
           <a href="./" class="tiny"><image src="/static/undo.ico" alt='reset' height='24' width='24' /></a>
           {% if is_authenticated %}
                <a href="/logout/" class="tiny"><image src="/static/exit.ico" alt='logout' height='24' width='24'
                    onclick='return confirm("Really logout?  Any unconfirmed file submissions will be cancelled.");' /></a>
           {% else %}
                <a href="/login/?next={{current_path}}" class="tiny"><image src="/static/log_in.ico" alt='login' height='24' width='24' /></a>          
           {% endif %}
           {% if locked_instrument %}
               <p><span class='locked_instrument'>{{locked_instrument}}</span>  <span class='lock_timer'> </span></p>
           {% endif %}
        </div>
        <div style="clear:both;" />
    </div>
    
    <div id="contents">
        {% block contents %}
 
            <div id="contents_top" class="full_width">
                {% block contents_top %}
                {% endblock %}
            </div>
 
            <div id="column1">
                {% block column1 %}
                {% endblock %}
            </div>
            
            <div id="column2">
                {% block column2 %}
                    <br/><br/>
                    {% if error_message %}
                        <div class="error">
                            {{error_message}}
                        </div>
                        <br/>
                    {% endif %}
                    <div class="help">
                        <p>
                        {% block help %}
                        {% endblock help %}
                        </p>
                    </div>
                {% endblock %}
            </div>
            
        {% endblock %}
        
        <div id="crds_info_box" class="full_width">
        </div>
        
        <br/>
        <br/>
 
    </div>
    
{% if lock_timeout_seconds %}
<script>

crds.update_locktime = function () {
    crds.lock_timer -= 1;
    if (! crds.lock_timer ) {
        /* window.location = "/logout/"; */
        $('#contents').html("<br/><br/><br/><h3 class='red' style='font-size: 1.5em;' align='center' >{{locked_instrument}} lock expired.</h3>");
        $('.locked_instrument').html("");
        $('.lock_timer').html("");
        clearInterval(crds.lock_timer_interval);
        if (crds.lock_timeout_action) {
            crds.lock_timeout_action();
        };
    };
    $('.lock_timer').html(crds.format_time(crds.lock_timer));
};

crds.format_time = function(seconds) {
    var days = Math.floor(seconds / 3600 / 24);
    var seconds = seconds % (3600 * 24);
    var hours = Math.floor(seconds / 3600);
    seconds = seconds % 3600;
    var minutes = Math.floor(seconds / 60);
    seconds = seconds % 60;
    return days + ":" + f02d(hours) + ":" + f02d(minutes) + ":" + f02d(seconds);
};

f02d = function(n) {
    if (n > 9) {
        return "" + n;
    } else {
        return "0" + n;
    }
};

crds.lock_timer = {{lock_timeout_seconds}};
crds.lock_timer_interval = setInterval("crds.update_locktime();", 990);  /* ~1 second,  conservative */
crds.update_locktime();

</script>
{% endif %}

  </body>
</html>
