{% extends "base.html" %}

{% block head_overrides %}
    <link type="text/css" rel="stylesheet" href="/static/crds_tables.css" /> 
    <link type="text/css" rel="stylesheet" href="/static/datatables/datatables.css" />
    <script type="text/javascript" language="javascript" src="/static/datatables/datatables.min.js"></script>
{% endblock head_overrides %}


{% block body_trailer %}
<script type="text/javascript">
    $(function() {
        var tables = $(".crds_data_table");
        tables.each(function (index, table) {
            $(table).hide();
            $(table).attr({"class":"display cell-border"});
            $(table).css({"font-size":"0.8em"});
            $(table).dataTable({
                "aLengthMenu": [[50, 500, 5000, -1], [50, 500, 5000, "All"]],
                "iDisplayLength" : -1,                  
            });
            $(table).show();
            $(table).attr({"class":"display"});
        });
    }); 
</script>
{% endblock body_trailer %}
